@charset "utf-8";
/* !
* Ganji account
*
* Author：liuyun2
* */
/* global
---------------------------------- */
html,
body {
    height: 100%;
}

/* css sprints
---------------------------------- */
i.icon {
    width: 20px;
}
.icon::after,
.radio-group input[type="radio"] + span:before,
.radio-group input[type="radio"]:checked + span:after,
.checkbox-group input[type="checkbox"] + span:before,
.checkbox-group input[type="checkbox"]:checked + span:after,
.has-warning::after {
    background: url(/public/image/mobile/app/icon.png?version=msc7913) no-repeat;
    -webkit-background-size: 80px auto;
    -ms-background-size: 80px auto;
    background-size: 80px auto;
}

/* icon
---------------------------------- */
.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}
.icon-ticks::after {
    width: 20px;
    height: 14px;
    background-position: 0 -92px;
    margin: -7px 0 0 -10px;
}
.icon-user::after {
    width: 20px;
    height: 20px;
    background-position: -20px -92px;
    margin: -10px 0 0 -10px;
}
.icon-lock::after {
    width: 20px;
    height: 20px;
    background-position: -40px -92px;
    margin: -10px 0 0 -10px;
}
.icon-ticks::after {
    width: 20px;
    height: 14px;
    background-position: 0 -92px;
    margin: -7px 0 0 -10px;
}

/* form
---------------------------------- */
input:-webkit-autofill {
    background-color: #fff;
}
.input-group {
    position: relative;
    display: block;
}
.input-group span {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 14px;
    line-height: 28px;
    padding: 8px 0;
    text-align: right;
}
.input-text {
    width: 100%;
    border: 0 none;
    border-radius: 3px;
    color: #262626;
    height: 44px;
    font-size: 14px;
    line-height: normal;
    padding: 8px 0 8px 8px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.input-text:focus {
    outline: 0 none;
}
.input-text.touch {
    background-color: transparent;
    border-radius: 3px;
}
.input-text[disabled] {
    background-color: transparent;
}
.code-group {
    padding-right: 88px;
}
.code-group .btn {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-top: -15px;
}
.pic-code-group {
    margin-bottom: 13px;
    overflow: hidden;
}
.pic-code-group img {
    float: left;
    width: 126px;
    height: 36px;
    vertical-align: middle;
    margin-right: 12px;
}
.pic-code-group .refresh {
    color: #5b2;
    font-size: 14px;
    line-height: 36px;
    text-decoration: underline;
}
.switch-group {
    display: -webkit-box;
    height: 28px;
    padding: 0 18px 0 13px;
    margin: 8px 0 8px;
}
.switch-group li {
    -webkit-box-flex: 1;
    border: 1px solid #55ba21;
    margin-left: -1px;
    display: block;
}
.switch-group span {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    display: block;
}
.switch-group li:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.switch-group li:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.switch-group .active {
    position: relative;
    background-color: #55ba21;
}
.switch-group .active span {
    color: #fff;
}
.filter-group {
    position: relative;
}
.filter-group::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 7px;
    height: 7px;
    border-top: solid 2px #c4c4c4;
    border-right: solid 2px #c4c4c4;
    -webkit-transform: rotate(45deg);
    margin-top: -5px;
}
.filter-group.active {
    background-color: #e6e6e6;
}
.filter-group.touch {
    border-radius: 0;
}
.filter-group.disabled::after {
    display: none;
}
.filter-group .filter-tips,
.filter-group .filter-value {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 30px 12px 12px;
    overflow: hidden;
    display: none;
}
.filter-group .filter-tips {
    color: #999;
}
.filter-group .filter-tips.active,
.filter-group .filter-value.active,
.filter-group.disabled .filter-value {
    color: #333;
    display: block;
}
.filter-group .filter-cont {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 320px;
    background-color: #fff;
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    -webkit-transform: translate3d(0px, 100%, 0px);
    transform: translate3d(0px, 100%, 0px);
}
.filter-group.active .filter-cont {
    display: block;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.filter-group .filter-head {
    position: relative;
    height: 44px;
    background-color: #e6e6e6;
    border-bottom: 1px solid #bfbfbf;
    z-index: 10;
}
.filter-group .filter-title {
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
}
.filter-group .filter-opt {
    position: absolute;
    top: 50%;
    left: 5px;
    height: 30px;
    background: transparent;
    border: 0 none;
    color: #5b2;
    font-size: 15px;
    line-height: 30px;
    padding: 0 8px;
    margin: -15px 0 0;
}
.filter-group .filter-opt:nth-of-type(2) {
    left: auto;
    right: 5px;
}
.filter-group .filter-opt:active,
.filter-group .filter-opt:focus {
    outline: 0 none;
}
.filter-group .filter-opt.touch {
    border-radius: 0;
    background-color: transparent;
    color: #a4d78a;
}
.filter-group .filter-body {
    display: -webkit-box;
    display: -ms-box;
    display: box;
}
.filter-group .filter-wrap {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    position: relative;
    height: 276px;
    width: 1px;
    overflow: hidden;
}
.filter-menu {
    position: relative;
    width: 100%;
}
.filter-menu li {
    position: relative;
    height: 40px;
    color: #808080;
    font-size: 14px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-bottom: 1px;
    overflow: hidden;
}
.filter-menu li::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 13px;
    height: 1px;
    background-color: #ced2db;
    overflow: hidden;
}
.filter-menu li.active,
.filter-menu li.touch {
    background-color: #f2f2f2;
    border-radius: 0;
    color: #56ba22;
}
.filter-menu li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.radio-group,
.checkbox-group {
    min-height: 22px;
    line-height: 22px;
    padding: 0 0 0 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
}
.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    position: relative;
    float: left;
    width: 22px;
    height: 22px;
    margin-left: -34px;
    opacity: 0.001;
    z-index: 1;
}
.radio-group input[type="radio"] + span,
.checkbox-group input[type="checkbox"] + span {
    position: relative;
    color: #404040;
    line-height: 22px;
    white-space: nowrap;
}
.checkbox-group input[type="checkbox"] + span:before,
.checkbox-group input[type="checkbox"]:checked + span:after,
.radio-group input[type="radio"] + span:before,
.radio-group input[type="radio"]:checked + span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -34px;
    width: 22px;
    height: 22px;
    margin-top: -11px;
}
.checkbox-group input[type="checkbox"] + span:before {
    background-position: 0 -40px;
}
.checkbox-group input[type="checkbox"]:checked + span:after {
    background-position: -22px -40px;
}
.radio-group input[type="radio"] + span:before {
    background-position: 0 -40px;
}
.radio-group input[type="radio"]:checked + span:after {
    background-position: -22px -40px;
}
.radio-group input[type="radio"] + span b,
.checkbox-group input[type="checkbox"] + span b {
    float: right;
}
.form-widget {
    padding: 20px 0;
}
.form-group {
    position: relative;
    padding: 0 13px;
}
.form-field {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    margin-bottom: 13px;
}
.form-item {
    display: table;
    width: 100%;
}
.form-label,
.form-control {
    display: table-cell;
}
.form-label {
    position: relative;
    width: 56px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    vertical-align: middle;
    padding: 0 18px;
}
.form-label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 32px;
    background-color: #ccc;
    margin-top: -16px;
}
.form-warning {
    display: none;
    position: absolute;
    right: -1px;
    left: -1px;
    bottom: -24px;
    height: 33px;
    background-color: rgba(51, 51, 51, .78);
    background-clip: padding-box;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    z-index: 9;
}
.form-warning::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 8px solid rgba(51, 51, 51, .78);
    border-right: 8px solid transparent;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.has-warning .form-warning.active {
    display: block;
}
.form-deliver {
    padding: 0 13px;
    overflow: hidden;
}
.form-deliver .deliver-title {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}
.form-deliver .deliver-title .icon {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #f2fbf6;
    background-clip: padding-box;
    border: 1px solid #e9f7e1;
    border-radius: 20px;
    margin-right: 10px;
}
.form-step {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    padding: 0 13px;
}
.form-step .step-item {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    height: 35px;
    background-color: #e6e6e6;
    background-clip: padding-box;
    border-radius: 2px;
    color: #808080;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
}
.form-step .step-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    border-bottom: 8px solid #e6e6e6;
    border-left: 8px solid transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: -4px 0 0 -4px;
}
.form-step .step-item:last-of-type {
    margin-right: 0;
}
.form-step .step-item:last-of-type::after {
    display: none;
}
.form-step .step-item.active {
    background-color: #f50;
    color: #fff;
}
.form-step .step-item.active::after {
    border-color: #f50;
}
.form-tips {
    color: #808080;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    padding: 5px 13px;
}
.form-opt {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    margin: 20px 7px 0;
}
.form-opt .btn {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    margin: 0 6px;
}
.form-tips + .form-opt {
    position: relative;
    padding-bottom: 21px;
    margin: 0 7px 20px;
}
.form-tips + .form-opt::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 6px;
    left: 6px;
    height: 1px;
    background-color: #e6e6e6;
    overflow: hidden;
}
.form-text {
    font-size: 14px;
    line-height: 28px;
    padding: 5px 13px;
    overflow: hidden;
}
.form-text a {
    color: #666;
}
.has-warning {
    position: relative;
    border-color: #ff7500;
}
.has-warning::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 22px solid #ff7500;
    border-left: 22px solid transparent;
    z-index: 1;
}
.has-warning::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 5px;
    width: 2px;
    height: 11px;
    background-position: -65px -77px;
    z-index: 2;
}
.login .form-label {
    width: 20px;
    padding: 0 4px 0 14px;
}
.login .form-label::after {
    display: none;
}

.hide {
    display: none;
}
.account-succ .form-widget{
    display: none;
}
.jsreg .widget-reg {
    display: block;
}
.jsforgot .widget-forgot {
    display: block;
}
.jsbinding .widget-binding {
    display: block;
}
.jslogin .widget-login {
    display: block;
}
.jsloginauth .widget-loginAuth {
    display: block;
}
.btn-common {
    background-color: #BEBEBE;
    border-radius: 3px;
}
button.disabled {
    background-color: #EDEDED;
}
