<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>地铁组件</title>
<style>
    body, html{height: 100%; margin: 0; padding: 0}
</style>
</head>
<body>
<script>
(function () {
    var query = window.location.search.split('?')[1];
    query = query.split('&').reduce(function (config, current) {
        current = current.split('=');
        config[current[0]] = decodeURIComponent(current[1]);
        return config;
    }, {});

    document.write('<lbs-subway city="'+ query.city +'" style="height:100%"> </lbs-subway>')
})();
</script>

<script src="http://api.map.baidu.com/components?ak=mveNkgpWr1qMBpvuI019SjVw&v=1.0"></script>
</body>
</html>