.stepsMain {
    position: relative;
    height: 164px
}

.stepsMain ul {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 2;
    padding-left: 0
}

.stepsMain li {
    width: 125px;
    float: left;
    color: #757575;
    text-align: center;
    list-style: none
}

.stepsMain li span {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #f9f9f9;
    text-align: center;
    line-height: 50px;
    font-size: 16px
}

.stepsMain li span em {
    width: 30px;
    height: 30px;
    border: #ccc solid 1px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 30px;
    margin: 10px 0 0 10px;
    font-style: normal
}

.stepsMain li.active em {
    border: #009a44 solid 1px;
    font-weight: bold
}

.stepsMain li.active {
    color: #009a44
}

.stepsDown {
    position: absolute;
    top: 63px;
    width: 750px;
    left: 80px;
    height: 4px;
    overflow: hidden;
    background: #bbb;
    z-index: 1
}

body > .header .logo {
    font-family: \5FAE\8F6F\96C5\9ED1
}

.right-side .content .box {
    padding: 5px 0
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle
}

.box .box-header > .fa,
.box .box-header > .glyphicon,
.box .box-header > .ion,
.box .box-header .box-title {
    float: none;
    display: block;
    margin: 20px 10px 10px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    background: #f3f3f3;
    font-weight: normal !important
}

.callout.callout-info {
    background: none;
    border: none
}

.callout.callout-info h4 {
    padding: 10px;
    background: #d9edf7;
    color: #31708f;
    margin-bottom: 0;
    font-family: \5FAE\8F6F\96C5\9ED1
}

.callout.callout-info dt {
    float: left;
    font-weight: normal;
    color: #999;
    padding-left: 10px;
    line-height: 30px;
    height: 30px
}

.callout.callout-info dl {
    clear: both;
    border-bottom: #dedede solid 1px;
    margin: 0;
    line-height: 30px;
    height: 30px
}

.callout.callout-info dd {
    line-height: 30px;
    height: 30px
}