
.info-area p.beizhu {
	float: left;
	min-height: 40px;
	color: #2c2c2c;
	font-size: 16px;
	margin-top: 14px;
	line-height: 20px;
	padding-bottom: 10px;
}
.addr-plug-pay p {
	margin-top: 14px;
}
.time-plug {
  height: 20px;
  padding-top: 10px;
  margin-top: 0;
}