/* hcy  */
@charset "utf-8";
/* reset */
html{
	background: #ebebeb;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0; padding:0; font-weight: normal;text-indent: 0;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
textarea{ resize:none; overflow:auto;}
body{font-size:12px; font-family:Microsoft YaHei,SimHei,Arial,Pro LiHei Pro Medium;}
/* end reset */
/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.boxSha{
	-webkit-box-shadow: 0 2px 2px #b8b1b1;
	-moz-box-shadow: 0 2px 2px #b8b1b1;
	-o-box-shadow: 0 2px 2px #b8b1b1;
	-ms-box-shadow: 0 2px 2px #b8b1b1;
	box-shadow: 0 2px 2px #b8b1b1;
}
.borR-8{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}
.borR-50{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.c-like-red{color: #ff4500;}
.c-huan{color: #ffad0f;}
.c-hong{color: #ff4500;}
/* end public */

#Hwrap{
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: #ebebeb;
	width: 100%;
}
#Hscroll{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #ebebeb;
	min-height: 100%;
}
.Hs-header,.Hs-footer{
	height: 50px;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #999;
}
.Hs-header{
	top: -50px;
}
.Hs-footer{
	bottom: -50px;
}
.Hs-header em,.Hs-footer em{
	display: inline-block;
}
.pullDownIcon,.pullUpIcon{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../imgs/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 50px 100px;
	background-size: 50px 100px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	vertical-align: top;
}
.pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullDownIcon.flip  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}
.pullUpIcon.flip {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullDownIcon.loading, .pullUpIcon.loading {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


.mark{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 200000;
}

.mark .confirm-win{
	width: 90%;
	position: absolute;
	left: 5%;
	background: #fff;
	border-radius: 8px;
	height: 90px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}
.mark .confirm-win p{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #333;
	font-size: 16px;
}
.mark footer{
	border-top: 1px solid #333;
}
.mark footer a{
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000;

}
.mark footer a:nth-of-type(1){
	background: #ffad0f;
}







