<!doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-title" content="赶集网">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="apple-touch-icon-precomposed" href="http://stacdn201.ganjistatic1.com/src/image/mobile/touch/guodong/add_favorite.png?v=1">
        <title>羊年，我要！我要！——皇上请翻牌，臣妾满足你-赶集网</title>
        <script type="text/javascript" src="http://sta.ganji.com/cgi/ganji_sta.php?file=css/mobile/touch/project/brand_transform/style.cmb.css&configDir=css/mobile/touch/project/brand_transform"></script>
    </head>
    <body>
        <section class="wrap">
            <div class="banner">
                <img src="http://sta.ganji.com/att/project/app/brand_transform/images/banner.jpg" alt="">
                <div class="lv"></div>
                <div class="lv2"><i class="eye"></i><i class="eye"></i></div>
            </div>
            <div class="content">
                <div class="content-top"></div>
                <div class="content-body">
                    <div class="content-list clear" data-widget="app/client/app/misc/qunliao/view/base_page.js#transNativeA">
                        <a href="http://sta.ganji.com/ng/app/client/common/index.html#app/client/app/misc/project_tmall/view/index.js?v=yy&ifid=dajiang" data-gjalog="100000000189000600000010" data-role="item" class="list-item">
                            <b class="list-title title-06">我要拿大奖</b>
                            <span class="list-loading"><i class="zoom-in"></i><i class="zoom-out"></i></span>
                        </a>
                        <a href="http://weixindingdong.3g.ganji.com/bj_findjob/salarytest/?ifid=salary"
                            data-controls='[{"type":"title","text":"我要涨工资"}]'
                            data-role="item"
                            data-gjalog="100000000189000200000010"
                            class="list-item">
                            <b class="list-title title-01">我要涨工资</b>
                            <span class="list-loading"><i class="zoom-in"></i><i class="zoom-out"></i></span>
                        </a>
                        <a href="http://sta.ganji.com/ng/app/client/common/index.html#app/client/app/misc/greeting_card/view/index.js?ifid=heka" data-role="item" class="list-item"
                        data-gjalog="100000000189000700000010"
                        data-controls='[{"type":"title","text":"我要发贺卡"}]'>
                            <b class="list-title title-02">我要发贺卡</b>
                        </a>
                        <a href="http://3g.ganji.com/misc/pinche/?ifid=huijiaxiang" data-role="item" class="list-item"
                            data-gjalog="100000000189000400000010"
                            data-controls='[{"type":"title","text":"我要回家乡"}]'>
                            <b class="list-title title-04">我要回家乡</b>
                            <span class="list-loading"><i class="zoom-in"></i><i class="zoom-out"></i></span>
                        </a>
                        <a href="http://sta.ganji.com/ng/app/client/common/index.html#app/fang/app/misc/start_2015/index.js?ifid=shengfangzu" data-role="item" class="list-item"
                        data-gjalog="100000000189000500000010"
                        data-controls='[{"type":"title","text":"我要省房租"}]'>
                            <b class="list-title title-05">我要省房租</b>
                            <span class="list-loading"><i class="zoom-in"></i><i class="zoom-out"></i></span>
                        </a>
                        <a href="http://3g.ganji.com/bj_news/client/theme1/?type=detail&id=1381&ca_name=zixun_push_4_0_1381&ca_source=app_shenghuo&env=test&ifid=zhaolaoxiang"
                            data-gjalog="100000000189000300000010"
                            data-role="item" class="list-item"
                            data-controls='[{"type":"title","text":"我要找老乡"}]'>
                            <b class="list-title title-03">我要找老乡</b>
                            <span class="list-loading"><i class="zoom-in"></i><i class="zoom-out"></i></span>
                        </a>
                    </div>
                </div>
                <div class="content-bot"></div>
            </div>
        </section>
        <script src="http://sta.ganji.com/cgi/ng_sta.php?page=com/mobile/page/milan/base_page.js"></script>
    </body>
</html>