@charset "utf-8";
/* !
* ganji app push
*
* Author：liuyun2
* */
/* layout
---------------------------------- */
.fc-green {
    color: #84e07a;
}
.fc-yellow {
    color: #ffcf3a;
}
.fc-orange {
    color: #ffaf32;
}
.fc-red {
    color: #f6797d;
}
.fc-purple {
    color: #976fde;
}
.fc-maroon {
    color: #d34f54;
}
.bc-green {
    background-color: #84e07a;
}
.bc-yellow {
    background-color: #ffcf3a;
}
.bc-orange {
    background-color: #ffaf32;
}
.bc-red {
    background-color: #f6797d;
}
.bc-purple {
    background-color: #976fde;
}
.bc-maroon {
    background-color: #d34f54;
}
.mod-bingo {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.mod-bingo a {
    display: block;
    position: relative;
    color: #333;
    font-size: 14px;
    line-height: 45px;
    padding: 0 8px;
}
.mod-bingo a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 6px;
    height: 11px;
    background: url(../image/icon_fortune.png) no-repeat 0 -44px;
    -webkit-background-size: 100px auto;
    -ms-background-size: 100px auto;
    background-size: 100px auto;
    line-height: 999em;
    margin: -6px 0 0 0;
    overflow: hidden;
}
html,
body {
    background-color: #f2f2f2;
}
.header {
    position: relative;
    height: 44px;
    background-color: #5b2;
    overflow: hidden;
}
body.level-1 .header {
    background-color: #84e07a;
}
body.level-2 .header {
    background-color: #ffcf3a;
}
body.level-3 .header {
    background-color: #ffaf32;
}
body.level-4 .header {
    background-color: #f6797d;
}
body.level-5 .header {
    background-color: #976fde;
}
body.level-6 .header {
    background-color: #d34f54;
}
.heading {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    text-overflow: ellipsis;
    margin: 0 56px;
    white-space: nowrap;
    overflow: hidden;
}
.header .return {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 999em;
    overflow: hidden;
}
.header .return::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(-135deg);
    margin: -7px 0 0 -7px;
}
.header .return.touch,
.header .operate.touch {
    background-color: transparent;
    border-radius: 0;
}
.header .return.touch::after {
    border-color: #ccc;
}
.header .operate {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    color: #fff;
    font-size: 16px;
    line-height: 44px;
    padding: 0 12px;
}
.info {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    width: 100%;
    padding: 26px 0;
}
.info-date,
.info-data,
.info-stat {
    vertical-align: top;
    overflow: hidden;
}
.info-date {
    width: 66px;
    border-right: 1px solid #d9d9d9;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding: 1px 0 0 12px;
}
.info-data {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}
.info-data strong {
    display: block;
    height: 46px;
    font: 500 60px/46px helvetica neue, arial, hiragino sans gb, microsoft yahei, sans-serif;
    text-align: center;
}
.info-stat {
    width: 88px;
    padding: 0 12px 0 0;
}
.info-stat strong {
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.info-stat span {
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 22px;
}
body.level-1 .info-data strong,
body.level-1 .info-stat strong {
    color: #84e07a;
}
body.level-2 .info-data strong,
body.level-2 .info-stat strong {
    color: #ffcf3a;
}
body.level-3 .info-data strong,
body.level-3 .info-stat strong {
    color: #ffaf32;
}
body.level-4 .info-data strong,
body.level-4 .info-stat strong {
    color: #f6797d;
}
body.level-5 .info-data strong,
body.level-5 .info-stat strong {
    color: #976fde;
}
body.level-6 .info-data strong,
body.level-6 .info-stat strong {
    color: #d34f54;
}
.section {
    background-color: #fff;
}
.report {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    background-color: #f2f2f2;
    margin: 0 12px;
    padding: 6px 0;
    overflow: hidden;
}
.report li {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    font: 12px/22px helvetica neue, arial, hiragino sans gb, microsoft yahei, sans-serif;
    overflow: hidden;
}
.report li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 72px;
    border-right: 1px dashed #fff;
    margin-top: -36px;
}
.report li:last-child::after {
    display: none;
}
.report span,
.report strong,
.report b {
    display: block;
    height: 22px;
    text-align: center;
}
.report span {
    color: #999;
}
.report strong {
    font-size: 16px;
}
.report b {
    color: #333;
    font-weight: 700;
}
.report sub {
    font-size: 8px;
}
.notice {
    padding: 15px 12px 0;
}
.notice-title {
    color: #99bc26;
    font-size: 14px;
    font-weight: 500;
}
.notice-title .icon-heart {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../image/icon_fortune.png) no-repeat -80px 0;
    -webkit-background-size: 100px auto;
    -ms-background-size: 100px auto;
    background-size: 100px auto;
    vertical-align: -3px;
    margin-right: 6px;
}
.notice-title .icon::after {
    display: none;
}
.notice-body {
    padding: 3px 0 6px;
}
.notice-body p {
    color: #333;
    font-size: 14px;
}
.chart {
    border-top: 1px solid #d9d9d9;
    margin: 10px 12px 12px;
}
.chart-title {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 0;
}
.chart-body {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.chart-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px;
    background-color: #f2f2f2;
}
.chart-list {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    -webkit-box-pack: justify;
    -ms-box-pack: justify;
    box-pack: justify;
    position: relative;
    height: 171px;
    padding: 0 5px;
    overflow: hidden;
}
.chart-list li {
    position: relative;
    display: block;
    width: 24px;
    height: 143px;
}
.chart-date {
    position: absolute;
    top: 143px;
    left: 0;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 0;
}
.chart-degree {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-height: 125px;
    border-radius: 2px 2px 0 0;
}
.chart-degree strong {
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
}
.chart-list .level-1 .chart-degree {
    background-color: #84e07a;
}
.chart-list .level-1 .chart-degree strong {
    color: #84e07a;
}
.chart-list .level-2 .chart-degree {
    background-color: #ffcf3a;
}
.chart-list .level-2 .chart-degree strong {
    color: #ffcf3a;
}
.chart-list .level-3 .chart-degree {
    background-color: #ffaf32;
}
.chart-list .level-3 .chart-degree strong {
    color: #ffaf32;
}
.chart-list .level-4 .chart-degree {
    background-color: #f6797d;
}
.chart-list .level-4 .chart-degree strong {
    color: #f6797d;
}
.chart-list .level-5 .chart-degree {
    background-color: #976fde;
}
.chart-list .level-5 .chart-degree strong {
    color: #976fde;
}
.chart-list .level-6 .chart-degree {
    background-color: #d34f54;
}
.chart-list .level-6 .chart-degree strong {
    color: #d34f54;
}
.footer {
    border-top: 1px solid #d9d9d9;
    padding: 12px 12px 0;
}
.footer .copyright {
    color: #999;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 10px 0 20px;
}
.refresh {
    display: none;
    background-color: #fff;
    text-align: center;
    padding: 10px 0 10px 8px;
}
.refresh.active {
    display: block;
}
.refresh-body {
    position: relative;
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.refresh-body span {
    display: block;
    color: #555;
    font-size: 12px;
}
.active .refresh-body {
    padding-left: 26px;
}
.active .refresh-body::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 21px;
    background: url(../image/icon_fortune.png) no-repeat -6px -44px;
    -webkit-background-size: 100px auto;
    -ms-background-size: 100px auto;
    background-size: 100px auto;
    line-height: 999em;
    margin-top: -10px;
    overflow: hidden;
}
.ending .refresh-body::after {
    -webkit-transition: all .3s ease-in 0;
    -ms-transition: all .3s ease-in 0;
    transition: all .3s ease-in 0;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.loading .refresh-body {
    color: #555;
    padding: 10px 0 10px 30px;
}
.loading .refresh-body::after {
    width: 20px;
    height: 20px;
    background: url(../image/loading.gif) no-repeat 0 0;
    -webkit-background-size: 20px auto;
    -ms-background-size: 20px auto;
    background-size: 20px auto;
}