@charset "utf-8";
/* !
* Ganji Subject
*
* Author：liuyun2
* */
/* reset
---------------------------------- */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
body,
button,
input,
select,
textarea {
    color: #333;
    font: 1em/1.5em tahoma, arial, sans-serif;
}
body {
    background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
}
a {
    text-decoration: none;
}
a:active {
    outline: 0 none;
}
small,
cite,
code,
em,
th,
i,
b {
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}
input,
select,
textarea,
button {
    font-size: 1em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
button,
input[type=button],
input[type=submit] {
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
input[type=text]:focus,
textarea:focus {
    outline: 0 none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img,
iframe {
    border: 0 none;
}
img {
    display: inline-block;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}
iframe {
    display: block;
}
ul,
ol {
    list-style: none;
}
q:before,
q:after {
    content: "";
}

/* common
---------------------------------- */
html,
body {
    height: 100%;
}
body {
    background-color: #f9f2c8;
    color: #333;
    font: 14px/2em arial, microsoft yahei, sans-serif;
}
a {
    color: #333;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.none {
    display: none;
}
.block {
    display: block;
}

/* icon */
.icon,
.avatar-add::after,
.avatar-lose::after,
.avatar-half::after,
.avatar-reset::after,
.avatar-time::after,
.popup-close::after,
.project-prize::after,
.prize-title::before {
    display: inline-block;
    background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/icon.png) no-repeat;
    -webkit-background-size: 100px auto;
    -ms-background-size: 100px auto;
    background-size: 100px auto;
    text-indent: -999em;
    line-height: 999em;
    vertical-align: middle;
    overflow: hidden;
}
.icon-add {
    width: 68px;
    height: 26px;
    background-position: 0 -136px;
}
.icon-lose {
    width: 68px;
    height: 26px;
    background-position: 0 -162px;
}
.icon-time {
    width: 52px;
    height: 23px;
    background-position: -48px -188px;
}
.icon-clock {
    width: 26px;
    height: 28px;
    background-position: 0 -20px;
}
.icon-score {
    width: 28px;
    height: 28px;
    background-position: -26px -20px;
}
.icon-half {
    width: 50px;
    height: 50px;
    background-position: -50px -243px;
}
.icon-reset {
    width: 50px;
    height: 50px;
    background-position: 0 -243px;
}
.avatar {
    display: inline-block;
    position: relative;
    background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/avatar.jpg) no-repeat;
    -webkit-background-size: 240px auto;
    -ms-background-size: 240px auto;
    background-size: 240px auto;
    width: 58px;
    height: 58px;
    border: 1px solid #fff;
}
.avatar-f1 {
    background-position: 0 0;
}
.avatar-f2 {
    background-position: -60px 0;
}
.avatar-f3 {
    background-position: 0 -60px;
}
.avatar-f4 {
    background-position: -60px -60px;
}
.avatar-f5 {
    background-position: 0 -120px;
}
.avatar-f6 {
    background-position: -60px -120px;
}
.avatar-f7 {
    background-position: 0 -180px;
}
.avatar-f8 {
    background-position: -60px -180px;
}
.avatar-m1 {
    background-position: -120px 0;
}
.avatar-m2 {
    background-position: -180px 0;
}
.avatar-m3 {
    background-position: -120px -60px;
}
.avatar-m4 {
    background-position: -180px -60px;
}
.avatar-m5 {
    background-position: -120px -120px;
}
.avatar-m6 {
    background-position: -180px -120px;
}
.avatar-m7 {
    background-position: -120px -180px;
}
.avatar-m8 {
    background-position: -180px -180px;
}
.project-prize,
.prize-360zj,
.prize-jdquan,
.prize-hotel,
.prize-iphone6 {
    width: 66px;
    height: 53px;
    background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/prize.png) no-repeat 0 0;
    -webkit-background-size: 66px auto;
    -ms-background-size: 66px auto;
    background-size: 66px auto;
    line-height: 999em;
    text-indent: -999em;
    overflow: hidden;
}
.prize-jdquan {
    background-position: 0 -55px;
}
.prize-hotel {
    background-position: 0 -110px;
}
.prize-iphone6 {
    background-position: 0 -165px;
}
.project-prize {
    width: 66px;
    height: 66px;
    background-position: 0 -220px;
}

/* btn
---------------------------------- */
.btn {
    display: inline-block;
    position: relative;
    background-clip: padding-box;
    border: 0 none;
    border-radius: 3px;
    font: 14px/2em arial, microsoft yahei, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn:focus {
    outline: 0 none;
}
.btn-send {
    width: 100%;
    height: 30px;
    background-color: #b7b7b7;
    color: #fff;
    line-height: 30px;
    box-shadow: 0 2px 0 #878686;
}
.btn-send.touch {
    background-color: #d6d6d6;
}
.btn-send[disabled],
.btn-send.disabled {
    color: #fff;
}
.btn-send[disabled].touch,
.btn-send.disabled.touch {
    background-color: #b7b7b7;
}
.btn-send.active {
    background-color: #75c40e;
    box-shadow: 0 2px 0 #61a00e;
}
.btn-send.active.touch {
    background-color: #64ad04;
}
.btn-default {
    width: 100%;
    height: 30px;
    background-color: #b7b7b7;
    color: #fff;
    line-height: 30px;
    box-shadow: 0 2px 0 #878686;
}
.btn-default[disabled],
.btn-default.disabled {
    color: #858585;
}
.btn-default.touch {
    background-color: #d6d6d6;
}
.btn-default[disabled].touch,
.btn-default.disabled.touch {
    background-color: #b7b7b7;
}
.btn-primary {
    width: 100%;
    height: 30px;
    background-color: #75c40e;
    color: #fff;
    line-height: 30px;
    box-shadow: 0 2px 0 #61a00e;
}
.btn-primary[disabled],
.btn-primary.disabled {
    color: #c0df99;
}
.btn-primary.touch {
    background-color: #64ad04;
}
.btn-primary[disabled].touch,
.btn-primary.disabled.touch {
    background-color: #75c40e;
}
.btn-info {
    width: 100%;
    height: 30px;
    background-color: #ec671f;
    color: #fff;
    line-height: 30px;
    box-shadow: 0 2px 0 #cc5312;
}
.btn-info[disabled],
.btn-info.disabled {
    color: #f7c2a5;
}
.btn-info.touch {
    background-color: #d75914;
}
.btn-info[disabled].touch,
.btn-info.disabled.touch {
    background-color: #ec671f;
}
.btn-danger {
    width: 100%;
    height: 30px;
    background-color: #ffa800;
    color: #fff;
    line-height: 30px;
    box-shadow: 0 2px 0 #de6e0a;
}
.btn-danger[disabled],
.btn-danger.disabled {
    color: #c29494;
}
.btn-danger.touch {
    background-color: #eb9b02;
}
.btn-danger[disabled].touch,
.btn-danger.disabled.touch {
    background-color: #ffa800;
}
.btn-large {
    height: 42px;
    font-size: 16px;
    line-height: 42px;
}
.btn-link {
    color: #579b00;
    border-radius: 0;
    outline: 0 none;
}
.btn-back {
    display: inline-block;
    position: relative;
    width: 68px;
    height: 30px;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    font: 15px/30px arial, microsoft yahei, sans-serif;
    text-align: center;
    text-decoration: none;
}
.btn-login,
.btn-logged {
    display: inline-block;
    position: relative;
    width: 19%;
    height: 25%;
    color: #ff5200;
    font: 14px/999em arial, microsoft yahei, sans-serif;
    text-align: center;
    text-decoration: underline;
    overflow: hidden;
}
.btn-logged {
    width: 16.35%;
    height: 33.11%;
}

/* form
---------------------------------- */
.form-widget {
    padding: 10px 12px;
    overflow: hidden;
}
.form-widget.award-form{
    display: none;
}
.form-widget.award-form.active{
    display: block;
}
.form-field {
    position: relative;
}
.form-group {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.form-label,
.form-control {
    display: table-cell;
    padding: 0;
    margin: 0;
}
.form-label {
    width: 62px;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 32px;
    vertical-align: middle;
}
.form-warning {
    color: #fd5234;
    font-size: 12px;
    line-height: 32px;
    padding-left: 62px;
    margin-top: -10px;
    overflow: hidden;
    display: none;
}
.form-warning.active {
    display: block;
}
::-webkit-inner-spin-button {
    -webkit-appearance: none
}
::-webkit-outer-spin-button {
    -webkit-appearance: none
}
input:focus,
textarea:focus {
    outline: 0 none;
}
.input-text {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
    border: 1px solid #584332;
    outline: 0 none;
    color: #6b6b6b;
    font: 14px/normal arial, microsoft yahei, sans-serif;
    padding: 6px 10px;
}
.textarea {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    height: 48px;
    border: 1px solid #584332;
    outline: 0 none;
    color: #6b6b6b;
    font: 14px/20px arial, microsoft yahei, sans-serif;
    padding: 3px 5px;
    overflow: auto;
    resize: none;
}
.code-group {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 87px;
    height: 28px;
    background-clip: padding-box;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden
}
.code-group img {
    width: 59px;
    height: 29px;
    vertical-align: top
}
.code-group span {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    border-left: 1px solid #e0e0e0;
    line-height: 999em;
    overflow: hidden
}
.code-group span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17px;
    height: 14px;
    background: url(http://stacdn201.ganjistatic1.com/att/project/touch/download_lottery/images/icon.png) no-repeat -95px -154px;
    -webkit-background-size: 136px auto;
    -ms-background-size: 136px auto;
    background-size: 136px auto;
    margin: -7px 0 0 -8px
}
.form-opt {
    padding: 5px 0 0;
}
.form-tips {
    display: none;
    color: #fa6376;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 6px;
}
.form-text {
    color: #6b6b6b;
    font-size: 14px;
    line-height: 20px;
}
.form-tips.active {
    display: block;
}
.form-vertical .form-group,
.form-vertical .form-label,
.form-vertical .form-control {
    display: block;
}
.form-vertical .form-label {
    display: none;
}

/* popup
---------------------------------- */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    background-color: #fff7e8;
    background-clip: padding-box;
    border: 2px solid #fdc651;
    border-radius: 6px;
    margin-left: -142px;
    margin-top: -62px;
    z-index: 101;
    display: none;
}
.popup-head {
    padding: 10px 16px;
}
.popup-title {
    color: #ec671f;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.popup-body {
    padding: 8px 16px 0;
}
.popup-body p {
    color: #ec671f;
    font-size: 14px;
}
.popup-body p b {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.popup-bar {
    padding: 10px 16px 18px;
    display: -webkit-box;
}
.popup-bar .btn-group {
    -webkit-box-flex: 1;
    width: 1px;
    padding: 0 18px;
    display: block;
}
.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    background-clip: padding-box;
    border-radius: 4px;
    line-height: 999em;
    overflow: hidden;
}
.popup-close.touch {
    background-color: #f1e4cc;
}
.popup-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-position: -80px -48px;
    margin: -6px 0 0 -6px;
    overflow: hidden;
}
.popup-tips {
    background-color: #35b17b;
    background-clip: padding-box;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}
.popup-tips strong {
    color: #f65943;
    padding: 0 10px;
}
.popup-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding: 4px 15px;
}
.popup-text small {
    font-size: 12px;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    min-height: 2000px;
    background-color: rgba(0, 0, 0, .50);
    z-index: 100;
}
.popup.active,
.mask.active {
    display: block;
}
.popup .form-widget {
    padding: 0;
}
.popup .input-text {
    height: 32px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fdc651;
    border-radius: 0;
    font-size: 14px;
    padding: 6px 10px;
}
.popup-result {
    margin-top: -78px;
}
.popup-result .popup-body {
    text-align: center;
    padding: 20px 16px 16px;
}
.popup-binding {
    margin-top: -80px;
}
.popup-binding .popup-body {
    padding: 4px 16px 20px;
}
.popup-binding .form-widget {
    position: relative;
}
.popup-binding .form-control {
    position: relative;
    padding-right: 92px;
}
.popup-binding .form-control .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 84px;
}
.popup-binding .form-warning {
    padding-left: 0;
}
.popup-confirm {
    margin-top: -63px;
}
.popup-confirm .popup-body {
    text-align: center;
    padding: 20px 16px 16px;
}
.popup-guide {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 320px;
    height: 140px;
    background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/guide.gif) no-repeat 0 0;
    -webkit-background-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    line-height: 999em;
    margin-left: -160px;
    overflow: hidden;
    z-index: 100;
}
.popup-guide.active {
    display: block;
}
.popup-share {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    border: 0 none;
    border-radius: 0;
    margin: 0
}
.popup-share .share-guide {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 130px;
    background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/share.png) no-repeat right top;
    -webkit-background-size: 250px auto;
    -ms-background-size: 250px auto;
    background-size: 250px auto;
}
.popup-share .share-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 90px;
    background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/share.png) no-repeat 0 -130px;
    -webkit-background-size: 250px auto;
    -ms-background-size: 250px auto;
    background-size: 250px auto;
    line-height: 999em;
    margin: -45px 0 0 -110px;
    overflow: hidden;
}

/* fadeInDown */
@-webkit-keyframes fadeInDown {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
}
@-ms-keyframes fadeInDown {
    0% {
        -ms-transform: translate3d(0, 0, 0);
    }
    100% {
        -ms-transform: translate3d(0, 100%, 0);
    }
}
@keyframes fadeInDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}
.fadeInDown {
    -webkit-animation: fadeInDown 2s linear both;
    -ms-animation: fadeInDown 2s linear both;
    animation-duration: fadeInDown 2s linear both;
}

/* fadeInUp */
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
    }
}
@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        -ms-transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 0;
        -ms-transform: translate3d(0, -200%, 0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -200%, 0);
    }
}

/* fadeShake */
@-webkit-keyframes fadeShake {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes fadeShake {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeShake {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* layout
---------------------------------- */
.wrap {
    display: none;
    min-width: 320px;
    margin: 0 auto;
}
body.index .wrap.index,
body.result .wrap.result,
body.award .wrap.award,
body.game .wrap.game {
    display: block;
}
.header {
    position: relative;
    min-height: 66px;
}
.header img {
    display: block;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
}
.summary {
    background-color: #fee678;
    color: #f42f0e;
    font-size: 14px;
    line-height: 28px;
    margin: 10px 12px 0;
    padding: 10px 12px;
}
.choose {
    background-color: #f3b6a4;
    margin: 8px 12px 12px;
    padding: 10px 12px 4px;
    overflow: hidden;
}
.choose-ds {
    float: left;
    color: #f42f0e;
    font-size: 14px;
    line-height: 35px;
}
.choose-nav {
    float: right;
}
.choose-nav .nav-item {
    float: left;
    position: relative;
    width: 56px;
    height: 35px;
    background-color: #f53f88;
    color: #fff;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    outline: 0 none;
    box-shadow: 0 2px 0 #c10f57;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.choose-nav .nav-item:focus {
    outline: 0 none;
}
.choose-nav .nav-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 35px solid #f53f88;
    border-right: 6px solid transparent;
}
.choose-nav .nav-item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.choose-nav .nav-item:last-child {
    background-color: #20ace6;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 8px;
    box-shadow: 0 2px 0 #0d82b3;
}
.choose-nav .nav-item:last-child::after {
    left: -6px;
    border-top: 0;
    border-right: 0;
    border-bottom: 35px solid #20ace6;
    border-left: 6px solid transparent;
    box-shadow: 0 2px 0 #0d82b3;
}
.choose-nav .nav-item.touch {
    background-color: #de2d74;
}
.choose-nav .nav-item.touch::after {
    border-top-color: #de2d74;
}
.choose-nav .nav-item:last-child.touch {
    background-color: #169ad1;
}
.choose-nav .nav-item:last-child.touch::after {
    border-bottom-color: #169ad1;
}
.choose-lists {
    float: left;
    width: 100%;
    padding: 12px 0 0;
    overflow: hidden;
}
.choose-list {
    float: left;
    width: 132px;
}
.choose-list .list-item {
    float: left;
    position: relative;
    margin: 0 6px 6px 0;
}
.choose-list .avatar {
    display: block;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .16);
}
.choose-list .avatar-add::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 20px;
    background-position: 0 0;
}
.choose-list .avatar-lose::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 20px;
    background-position: -24px 0;
}
.choose-list:last-child {
    float: right;
}
.choose-list:last-child .list-item {
    margin: 0 0 6px 6px;
}
.game {
    background-color: #5b565c;
}
.wrap.game,
.game .area {
    position: relative;
    width: 320px;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
}
.game .display {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-box;
    display: box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    background-color: #f3b6a4;
    padding: 6px 8px;
    z-index: 11;
}
.game .display-item {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    width: 1px;
    background-color: #df746c;
    background-clip: padding-box;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .27), inset 0 -1px 1px 0 rgba(255, 255, 255, .27);
    margin: 0 8px;
    padding: 6px 0 6px 10px;
    overflow: hidden;
}
.game .display-item b {
    font-weight: 700;
}
.game .display-item .icon {
    float: left;
    margin: -1px 18px 0 0;
}
.game .area {
    display: -webkit-box;
    display: -ms-box;
    display: box;
}
.game .area-path {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    position: relative;
    width: 25%;
    height: 100%;
    background-color: #4e494f;
    border: 1px solid #3f3b40;
    border-width: 0 1px;
    margin: 0 9px;
}
.game .avatar-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 9;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
@-webkit-keyframes avatar-box {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 15%, 0);
    }
}
@-ms-keyframes avatar-box {
    0% {
        -ms-transform: translate3d(0, -100%, 0);
    }
    100% {
        -ms-transform: translate3d(0, 15%, 0);
    }
}
@keyframes avatar-box {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 15%, 0);
    }
}
.game .avatar-box.active {
    z-index: 1;
    -webkit-animation: avatar-box 2s ease-out backwards;
    -ms-animation: avatar-box 2s ease-out backwards;
    animation: avatar-box 2s ease-out backwards;
}
.game .avatar-box.speed-f {
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.game .avatar-box.speed-ff {
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
}
.game .avatar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    border: 1px solid #fff;
    -webkit-touch-callout: none;
    -webkit-transition: opacity .1s ease-in .2s;
    -ms-transition: opacity .1s ease-in .2s;
    transition: opacity .1s ease-in .2s;
}
.game .avatar.touch {
    box-shadow: 0 0 24px rgba(255, 200, 7, .94);
}
.game .avatar-add::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-position: -48px 0;
}
.game .avatar-lose::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-position: -68px 0;
}
.game .avatar-half {
    background: #1373ff;
}
.game .avatar-half::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 56px;
    background-position: -40px -48px;
    margin: -28px 0 0 -20px;
}
.game .avatar-reset {
    background: #fa353e;
}
.game .avatar-reset::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 56px;
    background-position: 0 -48px;
    margin: -28px 0 0 -20px;
}
.game .avatar-time {
    background: #fcbd3b;
}
.game .avatar-time::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 52px;
    background-position: 0 -188px;
    margin: -26px 0 0 -23px;
}
.game .avatar .icon {
    margin-left: -4px;
}
.game .avatar-time .icon {
    margin-left: 4px;
}
.game .avatar-half .icon,
.game .avatar-reset .icon {
    margin-left: 2px;
}
.game .avatar .fadeInUp {
    opacity: 0;
}
.game .avatar.active {
    opacity: 0;
}
.game .avatar.active .fadeInUp {
    -webkit-animation: fadeInUp .2s ease-in both;
    -ms-animation: fadeInUp .2s ease-in both;
    animation-duration: fadeInUp .2s ease-in both;
}
.game .avatar-shake {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(247, 96, 61, .34);
    margin-left: 0;
    z-index: 11;
}
.game .avatar .fadeShake {
    opacity: 0;
}
.game .avatar.active .fadeShake,
.game .avatar.active .fadeShake {
    -webkit-animation: fadeShake .1s ease-in both;
    -ms-animation: fadeShake .1s ease-in both;
    animation-duration: fadeShake .1s ease-in both;
}
.game .area-control {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: #a14cab;
}
.game .area-nocontrol {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 140px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .00001);
    pointer-events: auto;
    z-index: 20;
}
.wrap.result {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 188px;
}
.result .summary {
    position: relative;
    background-color: #fff;
    color: #5e5c5c;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    padding: 8px 16px;
    margin: 0;
}
.result .summary b {
    color: #f43c45;
    font-size: 21px;
    font-weight: 700;
}
.result .summary a {
    color: #f43c45;
    text-decoration: underline;
}
.result .operate {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    background-color: #fff;
    padding: 0 4px 10px;
    overflow: hidden;
}
.result .operate-item {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    width: 1px;
    background-color: #f9f2c8;
    border-radius: 5px;
    padding: 6px 10px 10px;
    margin: 0 4px;
}
.result .operate-item p {
    color: #5e5c5c;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 6px;
}
.result .project {
}
.result .project-item {
    display: block;
    padding: 12px 6px 12px 12px;
    overflow: hidden;
}
.result .project-prize {
    float: left;
    position: relative;
    border: 1px solid #b28d70;
    margin-right: 10px;
}
.result .project-prize::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    background-position: -71px -20px;
}
.result .project-ds {
    color: #f43c45;
    font-size: 12px;
    line-height: 20px;
    padding-top: 14px;
    overflow: hidden;
}
.result .prize {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 188px;
    background-color: #f3b6a4;
}
.prize-title {
    color: #f43c45;
    font-size: 14px;
    line-height: 40px;
    padding-left: 12px;
    overflow: hidden;
}
.prize-title::before {
    content: "";
    float: left;
    width: 48px;
    height: 31px;
    background-position: 0 -104px;
    margin: 4px 8px 0 0;
}
.prize-list {
    position: relative;
    margin: 8px 8px 0;
    overflow: hidden;
}
.prize-list li {
    float: left;
    width: 25%;
}
.prize-item {
    display: block;
    width: 70px;
    margin: 0 auto;
}
.prize-box {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    padding: 2px 2px 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}
.prize-name {
    color: #585858;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.prize-score {
    color: #f43c45;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top: 6px;
}
.prize-score .icon-score {
    width: 17px;
    height: 17px;
    background-position: -54px -20px;
    vertical-align: -4px;
    margin-right: 2px;
}
.prize-tips {
    color: #838382;
    font-size: 12px;
    line-height: 22px;
    text-overflow: ellipsis;
    padding: 10px 10px 15px;
    overflow: hidden;
}
.prize .btn-link {
    position: absolute;
    top: 0;
    right: 10px;
    color: #ec671f;
    font-size: 12px;
    line-height: 40px;
    text-decoration: underline;
}
.wrap.award {
    padding-bottom: 10px;
}
.award .form-widget {
    position: relative;
}
.award .form-control {
    position: relative;
    padding-right: 102px;
}
.award .form-control .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 92px;
}
.award .form-vertical .form-control {
    padding-right: 0;
}
.award .form-vertical + .form-opt .btn {
    width: 68px;
}
.award .form-tips {
    display: block;
    color: #6b6b6b;
    font-size: 14px;
    text-align: left;
}
.award .form-opt {
    height: 32px;
    padding: 0;
    overflow: hidden;
}
.award .form-opt .btn {
    float: right;
    width: 92px;
}
.award .project {
}
.award .project-item {
    display: block;
    position: relative;
    border-top: 1px solid #e7a048;
    padding: 10px 80px 10px 12px;
    overflow: hidden;
}
.award .project-prize {
    float: left;
    position: relative;
    border: 1px solid #b28d70;
    margin-right: 10px;
}
.award .project-prize::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    background-position: -71px -20px;
}
.award .project-ds {
    color: #f43c45;
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
    overflow: hidden;
}
.award .project .btn {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 68px;
    margin-top: -16px;
}
.award .prize {
    border-top: 1px solid #e7a048;
    padding-bottom: 10px;
}
.award .prize-title {
    padding-top: 2px;
}
.award .prize-list {
    margin-top: 5px;
}
.award .prize-box {
    padding: 2px 2px 5px;
}
.award .prize-name {
    line-height: 20px;
}
.award .prize-score {
    padding-top: 0;
}
.award .prize-opt {
    padding: 5px 6px;
}
.award .prize-opt .btn {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    box-shadow: none;
}
.user {
    display: none;
    position: relative;
    padding: 8px 102px 8px 12px;
}
.user.active{
    display: block;
}
.user-info {
    color: #6b6b6b;
    font-size: 14px;
    line-height: 30px;
}
.user-info b {
    color: #f43c45;
    font-weight: 500;
}
.user .btn {
    position: absolute;
    right: 12px;
    bottom: 18px;
    width: 92px;
}
.statement {
    border-top: 1px solid #a3a3a3;
    text-align: center;
    margin: 16px 16px 0;
}
.statement-head {
    position: relative;
    top: -15px;
    display: inline-block;
    background-color: #f9f2c8;
    color: #a3a3a3;
    font-size: 12px;
    line-height: 22px;
    padding: 0 8px;
}
.statement-body {
    color: #a3a3a3;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    margin-top: -16px;
}
.loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/loading.png) no-repeat;
    -webkit-background-size: 45px auto;
    -ms-background-size: 45px auto;
    background-size: 45px auto;
    line-height: 999em;
    margin: -23px 0 0 -23px;
    overflow: hidden;
    z-index: 111;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading.active {
    display: block;
    -webkit-animation: loading 1s linear infinite;
    -ms-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
}
.tips-alert {
    display: none;
}
@media screen and (orientation:landscape) {
    .tips-alert {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
        color: #fff;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        line-height: 34px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        pointer-events: auto;
        z-index: 101;
    }
    .tips-alert p {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: 55px;
    }
    .rotate-iphone {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 74px;
        height: 110px;
        background: url(http://stacdn201.ganjistatic1.com/att/project/app/project_strip/images/phone.png) no-repeat center top;
        -webkit-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
        margin-left: -37px;
        margin-top: -80px;
    }
    .rotate-iphone {
        -webkit-animation: rotate-ip 1.5s infinite ease-in;
        animation: rotate-ip 1.5s infinite ease-in;
    }
    @-webkit-keyframes rotate-ip {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        50% {
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        100% {
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
}
#loadingMask {
    z-index: 110;
}
#userStuff{
    display: none;
}
#userStuff.active{
    display: block;
}