#mobile-addr-mark{
	background: #f1f1f1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100%;
	z-index: 100;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
#mobile-addr-mark .back{
	position: absolute;
	width: 44px;
	height: 44px;
	left: 0;
	top: 0;
	background: url(../imgs/return.png) no-repeat 15px center;
	background-size: 9px 17px;
}
#mobile-addr-mark .select-addr-top{
	height: 38px;
	background: #fff;
	position: relative;
	padding-top: 6px;
}
#mobile-addr-mark .addr-input-wrap{
	height: 32px;
	background: #f2f2f2;
	margin-left: 44px;
	width: 85%;
}
#mobile-addr-mark .addr-img{
	width: 13px;
	height: 17px;
	margin-top: 7px;
	margin-left: 10px;
}
#mobile-addr-mark .addr-input{
	margin-left: 8px;
	height: 32px;
	border: none;
	background: #f2f2f2;
	width: 80%;
}
#mobile-addr-mark .addr-list{
	background: #fff;
	margin-top: 1px;
}
#mobile-addr-mark .per-addr{
	padding: 0 4%;
	height: 50px;
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
	overflow: hidden;
}
#mobile-addr-mark .per-addr:last-of-type{
	border: none;
}
#mobile-addr-mark h3.business{
	font-size: 15px;
	height: 15px;
	line-height: 15px;
	color: #333;
	font-weight: normal;
	margin-top: 8px;
}
#mobile-addr-mark h3.business2{
	font-size: 15px;
	height: 15px;
	line-height: 15px;
	color: #333;
	font-weight: normal;
	margin-top: 17px;
}
#mobile-addr-mark p.ccc-addr{
	color: #bdbdbd;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	margin-top: 5px;
}
#mobile-addr-mark .my-addr-tip{
	height: 30px;
	font-weight: normal;
	background: #f1f1f1;
	color: #afafb0;
	line-height: 30px;
	font-size: 12px;
	text-indent: 4%;
}