@charset "utf-8";
/* !
* Ganji News
*
* Author：liuyun2
* */
/* layout
---------------------------------- */
.news-detail {
    position: relative;
    min-height: 100%;
    background-color: #f3f3f3;
}
.detail-head,
.detail-body,
.detail-opt {
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 12px;
    overflow: hidden;
}
.detail-head {
    padding: 12px 12px 4px;
}
.detail-title {
    color: #272727;
    font-size: 16px;
    line-height: 24px;
}
.detail-info {
    float: left;
    color: #959595;
    font-size: 12px;
    line-height: 28px;
    margin-right: 10px;
}
.detail-body {
    border-top: 1px solid #d8d8d8;
    word-wrap:break-word;
    margin-top: 15px;
    padding: 10px 12px 4px;
    overflow: hidden;
}
.detail-body p {
    color: #272727;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 0;
}
.detail-body .image {
    text-align: center;
}
.detail-body img {
    display: block;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
    margin: -2px auto;
}
.detail-opt {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #d8d8db;
    border-radius: 3px;
    color: #272727;
    font-size: 16px;
    line-height: 45px;
    margin: 15px 12px;
}
.detail-opt.touch {
    background-color: #f0f0f0;
    border-radius: 3px;
}
.detail-opt::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 7px;
    height: 7px;
    border-top: solid 2px #b5b5b5;
    border-right: solid 2px #b5b5b5;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}