@charset "utf-8";
/* !
* Ganji resume
*
* Author：liuyun2
* */
/* css sprints
---------------------------------- */
.history::before,
.list-opt::after,
.radio-group input[type="radio"] + span:before,
.radio-group input[type="radio"]:checked + span:after,
.checkbox-group input[type="checkbox"] + span:before,
.checkbox-group input[type="checkbox"]:checked + span:after,
.detail-invitation::before,
.discount .project-title::before,
.discount .project-items .tip::before {
    background: url(../../../../common/image/icon.png) no-repeat;
    -webkit-background-size: 80px auto;
    -ms-background-size: 80px auto;
    background-size: 80px auto;
}
/* layout
---------------------------------- */
.history,
.category {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
    margin-bottom: 9px;
}
.category .list:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.nav {
    background-color: #fff;
    margin-bottom: 9px;
    display: -webkit-box;
}
.nav a {
    height: 41px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    display: block;
    cursor: pointer;
}
.nav a.active {
    border-bottom: 3px solid #5b2;
    color: #5b2;
}
.nav .touch {
    border-radius: 0;
}
.history {
    position: relative;
    padding: 0 44px 0 36px;
}
.history::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    width: 20px;
    height: 20px;
    background-position: 0 0;
    margin: -10px 0 0 0;
}
.history .tips,
.history .items {
    width: 100%;
    height: 23px;
    color: #808080;
    font-size: 14px;
    line-height: 23px;
    white-space: nowrap;
    margin: 11px 0;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.history .items {
    display: none;
}
.history.active .items {
    display: block;
}
.history .items a {
    position: relative;
    white-space: nowrap;
    padding: 0 4px;
    margin-right: 7px;
}
.history .items a:last-child {
    margin-right: 0;
}
.history .items a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -7px;
    width: 3px;
    height: 3px;
    background-color: #c8c8c8;
    border-radius: 3px;
    margin-top: -1px;
}
.history .items a:last-child::after {
    display: none;
}
.history.active .tips {
    display: none;
}
.history .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 45px;
    text-indent: -999em;
    overflow: hidden;
}
.section .category:last-of-type {
    margin-bottom: 100px;
}
.section.invitation-section {
    margin-bottom: 50px;
}
.category .head {
    height: 45px;
    border-bottom: 1px solid #d9d9d9;
    color: #56ba22;
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    margin: 0 16px;
}
.category .list {
}
.category .list li {
    position: relative;
    float: left;
    width: 33.3%;
    padding: 11px 13px 12px 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.category .list li::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #d9d9d9;
    margin-top: -10px;
    overflow: hidden;
}
.category .list li:nth-child(3n)::before {
    display: none;
}
.category .list li::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 16px;
    width: 5px;
    height: 5px;
    background-color: #f2f2f2;
    border-top: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    -webkit-transform: rotate(-45deg);
    display: none;
}
.category .list li.active::after {
    display: block;
}
.category .list a,
.category .list b {
    height: 23px;
    font-size: 14px;
    line-height: 23px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}
.category-turn .head {
    display: none;
}
.category-turn .list {
    padding: 7px 0;
}
.category .dropdown {
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
    overflow: hidden;
    display: none;
}
.category .list:last-of-type ~ .dropdown {
    border-bottom: 0;
}
.category .dropdown.active {
    display: block;
}
.category .dropdown-cont {
    width: 100%;
    max-height: 184px;
    overflow: hidden;
}
.category .dropdown-cont .list {
    float: left;
}
.category .dropdown-ctrl {
    height: 12px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    padding-top: 3px;
    overflow: hidden;
}
.category .dropdown-ctrl.active {
    display: block;
}
.category .dropdown-ctrl span {
    width: 4px;
    height: 4px;
    background-color: #c8c8c8;
    border-radius: 2px;
    line-height: 999em;
    display: inline-block;
    margin: 0 4px;
    overflow: hidden;
    vertical-align: middle;
}
.category .dropdown-ctrl span.active {
    background-color: #808080;
}
.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.filter-nav {
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    overflow: hidden;
    z-index: 200;
    position: relative;
    background: #fff;
}
.filter-nav li {
    position: relative;
    width: 1px;
    max-width: 90px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 0 21px 0 5px;
    margin-left: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
}
.filter-nav li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1px;
    width: 1px;
    height: 18px;
    background-color: #d9d9d9;
    overflow: hidden;
    margin-top: -9px;
    z-index: 100
}
.filter-nav li:first-child::before {
    display: none;
}
.filter-nav li::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 9px;
    width: 5px;
    height: 5px;
    border-top: solid 1px #5b2;
    border-right: solid 1px #5b2;
    -webkit-transform: rotate(135deg);
    margin-top: -5px;
    overflow: hidden;
}
.filter-nav li.active {
    border-bottom: 2px solid #5b2;
}
.filter-nav li.active::after {
    -webkit-transform: rotate(-45deg);
    margin-top: -1px;
}
.filter-nav li.more {
    -webkit-box-flex: 0;
    box-flex: 0;
    width: 50px;
    max-width: 50px;
    padding: 0;
    margin: 0;
}
.filter-nav li.more::before {
    height: 40px;
    margin-top: -20px;
}
.filter-nav li.more::after {
    display: none;
}
.filter-nav .touch {
    border-radius: 0;
}
.filter-nav a,
.filter-nav b {
    display: block;
    width: 100%;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.filter-nav a {
    display: block;
}
.filter-cont {
    height: 320px;
    display: none;
    overflow: hidden;
    position: relative;
    background: #fff;
    z-index: 100;
}
.filter-cont.active {
    display: -webkit-box;
    -webkit-animation-name: slide-down;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: none;
}
@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-320px)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}
.filter-wrap {
    position: relative;
    -webkit-box-flex: 1;
    height: 320px;
    overflow: hidden;
}
.filter-submenu,
.filter-menu {
    position: relative;
    width: 100%;
}
.filter-submenu {
    background-color: #f2f2f2;
}
.filter-menu li,
.filter-submenu li {
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    color: #808080;
    font-size: 14px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 13px;
    padding-left: 2px;
}
.filter-menu li.active,
.filter-menu li.touch,
.filter-submenu li.active,
.filter-submenu li.touch {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    color: #56ba22;
}
.filter-menu li.active::after,
.filter-menu li.touch::after,
.filter-submenu li.active::after,
.filter-submenu li.touch::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -13px;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    padding: 1px 0 1px 13px;
    z-index: -1;
}
.filter-submenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f2f2f2;
}
.filter-submenu.active {
    display: block;
    z-index: 100;
}
.filter-submenu li.active::after,
.filter-submenu li.touch::after {
    background-color: #e6e6e6;
}
.filter-submenu li.active::after,
.filter-submenu li.touch::after {
}
.filter-submenu li span,
.filter-menu li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}
.list-items {
    background-color: #fff;
    margin: 0;
    padding-top: 41px;
}
.list2 .list-items {
    margin: -9px 0 0;
    padding-top: 0;
}
.list-items li {
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}
.list-cont {
    display: block;
    min-height: 58px;
    padding: 6px 0 6px 8px;
    margin-right: 72px;
}
.list-cont h2 {
    position: relative;
    float: left;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}
.list-cont h2 span {
    white-space: nowrap;
    padding-right: 4px;
}
.list-cont .icon-place,
.list-cont .icon-place2,
.list-cont .icon-place3 {
    position: relative;
    padding-right: 18px;
}
.list-cont .icon-place2 {
    padding-right: 40px;
}
.list-cont .icon-place3 {
    padding-right: 62px;
}
.list-cont .icon-place .icon,
.list-cont .icon-place2 .icon,
.list-cont .icon-place3 .icon {
    position: relative;
    display: inline-block;
}
.list-cont .icon-place .icon-renz,
.list-cont .icon-place2 .icon-renz,
.list-cont .icon-place3 .icon-renz,
.list-cont .icon-place .icon-push,
.list-cont .icon-place2 .icon-push,
.list-cont .icon-place3 .icon-push {
    position: absolute;
    top: 50%;
    right: 0;
    vertical-align: middle;
    margin-top: -6px;
}
.list-cont .icon-place2 .icon-renz,
.list-cont .icon-place2 .icon-renz,
.list-cont .icon-place3 .icon-push {
    right: 22px;
}
.list-cont .icon-place3 .icon-renz {
    right: 44px;
}
.list-cont .icon-place2 .icon-renz ~ .icon-push {
    right: 0;
}
.list-cont .icon-place .icon-status,
.list-cont .icon-place2 .icon-status,
.list-cont .icon-place3 .icon-status {
    position: absolute;
    top: 50%;
    right: 4px;
    vertical-align: middle;
    margin-top: -4px;
}
.list-cont.read .icon-status {
    display: none;
}
.list-cont p {
    position: relative;
    clear: both;
    color: #808080;
    font-size: 12px;
    line-height: 24px;
}
.list-cont.touch {
    position: relative;
    border-radius: 0;
}
.list-cont.touch::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    padding-right: 72px;
}
.list-opt {
    position: absolute;
    top: 50%;
    right: 0;
    width: 64px;
    height: 18px;
    color: #5b2;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 35px 0 5px 0;
    margin-top: -29px;
}
.list-opt::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #56ba22;
    border-radius: 20px;
    margin-left: -10px;
}
.list-opt::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-position: -40px 0;
    margin-left: -9px;
}
.list-opt.touch {
    background-color: transparent;
    border-radius: 0;
}
.list-opt.touch::before {
    background-color: #56ba22;
}
.list-opt.touch::after {
    background-position: -60px 0;
}
.list-opt2::after {
    background-position: 0 -20px;
}
.list-opt2.touch::after {
    background-position: -20px -20px;
}
.list-opt.list-loading {
    color: #808080;
}
.list-opt.list-loading::before {
    display: none;
}
.list-opt.loading::after {
    background: url(../../../../common/image/loading2.gif) no-repeat 0 0;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -ms-background-size: 20px auto;
    background-size: 20px auto;
}
.list-opt.loading.touch::after {
    background-position: 0 0;
}
input:-webkit-autofill {
    background-color: #fff
}
.input-group {
    position: relative;
    display: block;
}
.input-text {
    width: 100%;
    border: 0 none;
    color: #505050;
    height: 44px;
    font-size: 14px;
    line-height: normal;
    padding: 8px 0 8px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.input-text.touch {
    border-radius: 0;
}
.input-group span {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 14px;
    line-height: 28px;
    padding: 8px 0;
    line-height: text-align:right;
}
.switch-group {
    display: -webkit-box;
    height: 28px;
    padding: 0 18px 0 13px;
    margin: 8px 0 8px;
}
.switch-group li {
    -webkit-box-flex: 1;
    border: 1px solid #55ba21;
    margin-left: -1px;
    display: block
}
.switch-group span {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    display: block
}
.switch-group li:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}
.switch-group li:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}
.switch-group .active {
    position: relative;
    background-color: #55ba21;
}
.switch-group .active span {
    color: #fff
}
.filter-group {
    position: relative;
}
.filter-group::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 7px;
    height: 7px;
    border-top: solid 2px #c4c4c4;
    border-right: solid 2px #c4c4c4;
    -webkit-transform: rotate(45deg);
    margin-top: -5px;
}
.filter-group.disabled::after {
    display: none;
}
.filter-group .filter-tips,
.filter-group .filter-value {
    font-size: 14px;
    line-height: 20px;
    padding: 12px 30px 12px 12px;
    overflow: hidden;
    display: none;
}
.filter-group .filter-tips {
    color: #333;
}
.filter-group .filter-tips.active,
.filter-group .filter-value.active,
.filter-group.disabled .filter-value {
    color: #333;
    display: block;
}
.filter-group .filter-cont {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 320px;
    background-color: #fff;
    display: none;
    z-index: 100;
    /* -webkit-transform: translateY(100%);
    */
}
.filter-group.active .filter-cont {
    display: block;
}
.filter-group.active {
    background-color: #e6e6e6;
}
.filter-group.touch {
    border-radius: 0;
}
.filter-group .filter-head {
    position: relative;
    height: 44px;
    background-color: #e6e6e6;
    border-bottom: 1px solid #bfbfbf;
}
.filter-group .filter-title {
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
}
.filter-group .filter-opt {
    position: absolute;
    top: 50%;
    left: 5px;
    height: 30px;
    background: transparent;
    border: 0 none;
    color: #5b2;
    font-size: 15px;
    line-height: 30px;
    padding: 0 8px;
    margin: -15px 0 0;
}
.filter-group .filter-opt:active,
.filter-group .filter-opt:focus {
    outline: 0 none;
}
.filter-group .filter-opt.touch {
    border-radius: 0;
    background-color: transparent;
    color: #a4d78a;
}
.filter-group .filter-wrap {
    display: block;
    height: 276px;
}
.radio-group,
.checkbox-group {
    min-height: 22px;
    line-height: 22px;
    padding: 0 0 0 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    display: block
}
.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    position: relative;
    float: left;
    width: 22px;
    height: 22px;
    margin-left: -34px;
    opacity: 0.001;
    z-index: 1
}
.radio-group input[type="radio"] + span,
.checkbox-group input[type="checkbox"] + span {
    position: relative;
    color: #404040;
    line-height: 22px;
    white-space: nowrap
}
.checkbox-group input[type="checkbox"] + span:before,
.checkbox-group input[type="checkbox"]:checked + span:after,
.radio-group input[type="radio"] + span:before,
.radio-group input[type="radio"]:checked + span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -34px;
    width: 22px;
    height: 22px;
    margin-top: -11px
}
.checkbox-group input[type="checkbox"] + span:before {
    background-position: 0 -40px;
}
.checkbox-group input[type="checkbox"]:checked + span:after {
    background-position: -22px -40px;
}
.radio-group input[type="radio"] + span:before {
    background-position: 0 -40px;
}
.radio-group input[type="radio"]:checked + span:after {
    background-position: -22px -40px;
}
.radio-group input[type="radio"] + span b,
.checkbox-group input[type="checkbox"] + span b {
    float: right;
}
.form-group:first-child {
    padding-top: 9px;
}
.form-group {
    border: 1px solid #bfbfbf;
    border-width: 1px 0;
    margin-bottom: 9px;
}
.form-field {
    background-color: #fff;
    border-bottom: 1px solid #bfbfbf;
}
.form-field:last-of-type {
    border: 0;
}
.form-item {
    display: table;
    width: 100%
}
.form-label,
.form-control {
    display: table-cell
}
.form-label {
    position: relative;
    width: 68px;
    color: #5b2;
    font-size: 14px;
    line-height: 44px;
    vertical-align: middle;
    padding-left: 12px
}
.form-label::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 28px;
    background-color: #e6e6e6;
    margin-top: -14px;
}
.form-opt {
    margin: 40px 12px 0;
}
.fixed-widget {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
    z-index: 11;
}
.fixed-contact {
    display: -webkit-box;
    display: box;
}
.fixed-contact .fixed-body {
    -webkit-box-flex: 1;
    padding: 5px 0 0 12px;
}
.fixed-contact .fixed-body p {
    font-size: 14px;
    line-height: 20px;
}
.fixed-contact .fixed-body p:only-child {
    padding-top: 10px;
}
.fixed-contact .fixed-opt {
    min-width: 116px;
    height: 34px;
    text-align: right;
    padding: 8px 12px 8px 0;
    overflow: hidden;
}
.fixed-contact .fixed-opt .icon {
    position: relative;
    float: left;
    margin-right: 12px;
}
.fixed-contact .fixed-opt .icon-phone {
    width: 14px;
    height: 14px;
    margin-top: 10px;
}
.fixed-contact .fixed-opt .icon-phone::after {
    width: 14px;
    height: 14px;
    background-position: -23px -23px;
    margin: -7px 0 0 -7px;
}
.detail {
    padding-bottom: 55px;
}
.detail-group {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
    margin-bottom: 12px;
}
.detail-group:first-of-type {
    border-width: 0 0 1px;
}
.detail-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding: 8px 12px;
}
.detail-title span {
    display: inline-block;
    margin-right: 4px;
}
.detail-title .icon {
    vertical-align: -1px;
    margin-right: 4px;
}
.detail-cont {
    font-size: 14px;
    line-height: 24px;
    padding: 8px 12px;
}
.detail-meta {
    padding-left: 70px;
    text-indent: -70px;
    overflow: hidden;
}
.detail-meta label,
.detail-article label {
    float: left;
    width: 70px;
    color: #bfbfbf;
}
.detail-article {
    overflow: hidden;
}
.detail-opt {
    padding: 8px 0 6px;
}
.detail-opt .btn-default {
    text-align: left;
    padding: 0 16px;
    overflow: hidden;
    display: none;
}
.detail-opt .btn-default .icon {
    float: right;
}
.detail-opt .btn-default .icon-phone {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: 12px;
}
.detail-opt .btn-default .icon-phone::after {
    width: 15px;
    height: 15px;
    background-position: -42px -22px;
    margin: -8px 0 0 -8px;
}
.detail-opt .btn-large {
    font-size: 14px;
}
.contact-method {
    display: none;
}
.active .contact-method {
    display: block;
}
.active .show-contact {
    display: none;
}
.project {
    padding: 1px 0 55px;
}
.project-head {
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #bfbfbf
}
.project-title {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 13px 0 0 12px;
}
.project-body {
    max-height: 100%;
    overflow-y: auto;
}
.project-items {
    background-color: #fff;
}
.project-items li {
    border-bottom: 1px solid #bfbfbf;
    padding: 12px;
    overflow: hidden;
}
.project-items .radio-group input[type="radio"] + span {
    display: block;
}
.project-items em {
    color: #ff5600;
}
.project-items .cost {
    float: right;
}
.project-items .tip {
    display: block;
    color: #808080;
    font-size: 14px;
    line-height: 20px;
    padding-top:4px;
    overflow: hidden;
}

.project-items li.touch {
    border-radius: 0;
}
.project-notice {
    color: #808080;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 12px;
}
.project-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #bfbfbf;
    padding: 8px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.project-bar .btn-large {
    height: 33px;
    font-size: 14px;
    line-height: 33px;
}
/* UE-4810 */
.discount .project-head {
    height: 44px;
}
.discount .project-title {
    line-height: 44px;
    padding: 0;
    overflow: hidden;
}
.discount .project-title::before {
    content: "";
    float:left;
    width: 32px;
    height: 13px;
    background-position: -18px -77px;
    margin: 15px 13px 0 0;
}
.discount .project-items li {
    overflow: hidden;
}
/*.discount .radio-group input[type="radio"] + span {
    display: block;
}*/
/*.discount .radio-group input[type="radio"] + span b {
    float: none;
}*/
.discount .project-items .cost {
    float: none;
    color: #808080;
    font-size: 12px;
    line-height: 22px;
    text-decoration: line-through;
 }

.discount .tip {
    display: block;
    color: #808080;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 5px;
    overflow: hidden;
}
.discount .project-items .tip::before {
    content: "";
    float:left;
    width: 13px;
    height: 13px;
    background-position: -51px -77px;
    margin: 5px 8px 0 0;
}
.discount .tip em {
    color: #ff5600;
}
.discount .project-items .sale {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-right: 6px;
}
.discount .project-items .sale em {
    color: #ff5600;
    font-weight: 700;
}
/*.discount .cost {
    color: #808080;
    font-size: 12px;
    line-height: 22px;
    text-decoration: line-through;
}*/
.form-status {
    min-height: 126px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 0 30px;
}
.form-status .status-tips {
    position: relative;
    color: #ffa200;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 103px 0 0;
}
.form-status.status-loading .status-tips {
    padding: 115px 0 0;
}
.form-status.status-succeed .status-tips::after,
.form-status.status-failed .status-tips::after {
    content: '';
    position: absolute;
    top: 33px;
    left: 50%;
    width: 58px;
    height: 58px;
    background-color: #f2fbf6;
    border: 1px solid #e9f7e1;
    border-radius: 58px;
    margin-left: -30px;
}
.form-status .status-tips::before {
    content: '';
    position: absolute;
    left: 50%;
    background: url(../../../../common/image/icon-status.png) no-repeat;
    -webkit-background-size: 120px auto;
    -moz-background-size: 120px auto;
    -ms-background-size: 120px auto;
    background-size: 120px auto;
}
.form-status.status-loading .status-tips::before {
    top: 33px;
    width: 90px;
    height: 72px;
    background-position: 0 -20px;
    margin-left: -45px;
}
.form-status.status-succeed .status-tips::before {
    top: 53px;
    width: 28px;
    height: 20px;
    background-position: 0 0;
    margin-left: -14px;
    z-index: 2;
}
.form-status.status-failed .status-tips::before {
    top: 53px;
    width: 20px;
    height: 20px;
    background-position: -28px 0;
    margin-left: -10px;
    z-index: 2;
}
.form-status .form-opt {
    text-align: center;
    padding-bottom: 12px;
    display: none;
}
.form-status .form-opt .btn-large {
    width: 144px;
    margin: 0 3px;
}
.form-status .form-opt.active {
    display: block;
}
.filter.active .mask {
    display: block;
    z-index: -1;
}
.list .more {
    display: none;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.exp-detail {
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 0;
}
.exp-detail:last-child {
    border: none;
}
.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #a5a5a5;
    padding: 8px 0;
    z-index: 89;
}
.nav-bar .nav-list {
    display: -webkit-box;
    display: -ms-box;
    display: box;
    width: 168px;
    height: 34px;
    background-color: #e2e2e2;
    border-radius: 17px;
    margin: 0 auto;
}
.nav-bar .nav-list a {
    display: block;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    width: 1px;
    height: 34px;
    border-radius: 17px;
    color: #979797;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
}
.nav-bar .nav-list .active,
.nav-bar .nav-list .active.touch {
    position: relative;
    background-color: #51bd03;
    color: #fff;
    z-index: 2;
}
/* UE-4696 */
.invitation {
    padding-bottom: 50px;
}
.form-heading {
    height: 45px;
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    padding-left: 12px;
}
.form-heading span {
    display: inline-block;
    width: 78px;
    color: #808080;
    font-size: 14px;
}
.form-item2 .form-label {
    vertical-align: top;
}
.form-item2 .form-label::after {
    top: 16px;
    height: 191px;
    margin-top: 0;
}
.form-item2 .form-control {
    padding: 16px 0 12px;
}
.tab-group {
    margin: 0 0 0 2px;
    overflow: hidden;
}
.tab-group .tab-item {
    float: left;
    height: 22px;
    background-color: #f2f2f2;
    border: 1px solid #ced2db;
    border-radius: 2px;
    color: #808080;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding: 0 10px;
    margin-left: 10px;
}
.tab-group .tab-item.active {
    background-color: #55ba21;
    border-color: #49af15;
    color: #fff;
}
.textarea-group {
    padding: 12px 12px 10px;
}
.textarea-group textarea {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    border: 0 none;
    color: #404040;
    font-size: 14px;
    line-height: 24px;
    padding: 0 4px;
    overflow: auto;
    resize: none;
}
.btn-group {
    padding: 0 16px;
    overflow: hidden;
}
.btn-group .btn-info {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
}
.text-group {
    color: #808080;
    font-size: 12px;
    line-height: 2;
}
.text-group b {
    color: #ff5600;
    font-weight: 500;
}
.text-group strong {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}
.btn-group .text-group {
    float: right;
}
.holder {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 32px;
    vertical-align: middle;
}
.holder input[type="checkbox"] {
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
}
.holder span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 52px;
    height: 32px;
    background-color: #b2b2b2;
    border-radius: 16px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.holder span::before {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;
    content: "";
    display: block;
    height: 30px;
    width: 50px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.holder span::after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 3;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.holder input[type="checkbox"]:checked + span {
    background-color: #55ba21;
}
.holder input[type="checkbox"]:checked + span::before {
    height: 0;
    width: 0;
    left: 50%;
    top: 50%;
}
.holder input[type="checkbox"]:checked + span::after {
    left: 20px;
}
.form-item3 {
    padding: 6px 12px;
    overflow: hidden;
}
.form-item3 .text-group {
    float: left;
}
.form-item3 .text-group b {
    margin: 0 4px;
}
.form-item3 .holder {
    float: right;
}
.text-list li {
    color: #808080;
    font-size: 12px;
    line-height: 22px;
}
.text-list2 {
    padding-top: 35px;
}
.summary {
    padding: 0 12px 12px;
}
.summary .text-group {
    margin: 0 0 6px;
}
.summary .text-group b {
    margin: 0 5px;
}
.fixed-btn {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 12px;
}
.fixed-btn .btn {
    height: 33px;
    font-size: 14px;
    line-height: 33px;
}
.icenter .list-cont {
    padding: 6px 12px;
    margin-right: 0;
}
.icenter .list-cont.touch::before {
    padding: 0 0 46px 0;
}
.list-opt3 {
    position: relative;
    height: 32px;
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin: 0 12px 12px;
    overflow: hidden;
}
.list-opt3 a {
    float: left;
    position: relative;
    width: 50%;
    color: #666;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
}
.list-opt3 a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin-top: -10px;
    overflow: hidden;
}
.list-opt3 a.touch {
    background-color: #dedede;
    border-radius: 0;
}
.list-opt3 a:first-child,
.list-opt3 a.touch:first-child {
    border-radius: 2px 0 0 2px;
}
.list-opt3 a:last-child,
.list-opt3 a.touch:last-child {
    border-radius: 0 2px 2px 0;
}
.list-opt3 a:last-child::after {
    display: none;
}
.list-opt3 .icon {
    display: inline-block;
    position: relative;
    margin-right: 16px;
    vertical-align: -3px;
}
.list-opt3 .icon::after {
    top: 0;
    left: 0;
    margin: 0;
}
.list-opt3 .icon-tel {
    width: 14px;
    height: 15px;
}
.list-opt3 .icon-tel::after {
    width: 14px;
    height: 15px;
    background-position: 0 -62px;
}
.list-opt3 .touch .icon-tel::after {
    background-position: -14px -62px;
}
.list-opt3 .icon-mail {
    width: 17px;
    height: 15px;
}
.list-opt3 .icon-mail::after {
    width: 17px;
    height: 15px;
    background-position: -28px -62px;
}
.list-opt3 .touch .icon-mail::after {
    background-position: -46px -62px;
}
.detail-invitation {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 45px;
    padding: 0 12px;
}
.detail-invitation::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    width: 7px;
    height: 7px;
    border-top: solid 2px #bfbfbf;
    border-right: solid 2px #bfbfbf;
    -webkit-transform: rotate(45deg);
    margin-top: -5px;
}
.detail-invitation::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 34px;
    width: 17px;
    height: 15px;
    background-position: 0 -77px;
    margin-top: -8px;

}
.detail-invitation.touch {
    border-radius: 0;
}
.detail-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    padding-left: 12px;
}
.detail .list-items {
    padding-top: 0;
}
.detail .list-items li {
    border-top: 1px solid #d9d9d9;
    border-bottom: none;
}
.detail .list-cont {
    padding-left: 12px;
}
.report {
    margin: 5px 12px 12px;
}
.detail-group ~ .report {
    margin-top: -7px;
}
.report-title {
    position: relative;
    text-align: center;
}
.report-title b {
    display: inline-block;
    position: relative;
    background-color: #f2f2f2;
    color: #ff7800;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 15px;
    z-index: 1;
}
.report-body {
    position: relative;
    min-width: 24px;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    margin-top: -12px;
    padding: 16px 72px 16px 12px;
}
.report-body p {
    color: #979797;
    font-size: 12px;
    line-height: 16px;
}
.report-body .btn-info {
    position: absolute;
    top: 50%;
    right: 12px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    margin-top: -12px;
}
.form-item.vertical,
.form-item.vertical .form-label,
.form-item.vertical .form-control {
    display: block;
}
.form-item.vertical .form-label {
    width: auto;
    height: 38px;
    background-color: #f2f2f2;
    color: #808080;
    line-height: 38px;
    padding-top: 8px;
}
.form-item.vertical .form-label::after {
    display: none;
}
.form-item.vertical .textarea-group {
    padding: 0 0 10px;
}
.form-item.vertical textarea {
    padding: 8px 12px 10px;
}
.filter-group .filter-cont2 {
    height: 284px;
}
.filter-group .filter-cont2 .filter-wrap {
    height: 240px;
}
/**free-time**/
.my-freeTime{
    border: solid 1px #ccc;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}
.my-freeTime td{
    border: solid 1px #ccc;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.my-freeTime tr:first-child{
    background: #f7f7f7;
}
.my-freeTime td:nth-child(3n+1){
    background: #f7f7f7;
    width: 28%;
}
.my-freeTime i.dg{
    background: url(../../../../common/image/icon.png) no-repeat;
    width: 15px;
    height: 12px;
    display: inline-block;
    background-position: -64px -62px;
    background-size: 80px auto;
    -webkit-background-size: 80px auto;
    -moz-background-size: 80px auto;
    -ms-background-size: 80px auto;
}