.emo2{
    width: 20px;
    height: 20px;
    background: url(../imgs/emob.png) no-repeat top left;
    display: inline-block;
    margin: 2px 2px;
    vertical-align: middle;
}
.qqemoji0 {
    background-position: -4px -4px
}

.qqemoji1 {
    background-position: -30px -4px
}

.qqemoji2 {
    background-position: -56px -4px
}

.qqemoji3 {
    background-position: -81px -4px
}

.qqemoji4 {
    background-position: -106px -4px
}

.qqemoji5 {
    background-position: -132px -4px
}

.qqemoji6 {
    background-position: -5px -29px
}

.qqemoji7 {
    background-position: -30px -29px
}

.qqemoji8 {
    background-position: -55px -29px
}

.qqemoji9 {
    background-position: -81px -29px
}

.qqemoji10 {
    background-position: -106px -29px
}

.qqemoji11 {
    background-position: -132px -29px
}

.qqemoji12 {
    background-position: -5px -55px
}

.qqemoji13 {
    background-position: -30px -55px
}

.qqemoji14 {
    background-position: -55px -55px
}

.qqemoji15 {
    background-position: -81px -55px
}

.qqemoji16 {
    background-position: -106px -55px
}

.qqemoji17 {
    background-position: -132px -55px
}

.qqemoji18 {
    background-position: -4px -81px
}

.qqemoji19 {
    background-position: -30px -81px
}

.qqemoji20 {
    background-position: -56px -81px
}

.qqemoji21 {
    background-position: -81px -81px
}

.qqemoji22 {
    background-position: -106px -81px
}

.qqemoji23 {
    background-position: -132px -81px
}

.qqemoji24 {
    background-position: -3px -107px
}

.qqemoji25 {
    background-position: -30px -107px
}

.qqemoji26 {
    background-position: -55px -107px
}

.qqemoji27 {
    background-position: -81px -107px
}

/* ****************************************************** */
.qqemojisec0{
    background-position: -4px -4px;
}
.qqemojisec1{
    background-position: -42px -4px;
}
.qqemojisec2{
    background-position: -80px -4px;
}
.qqemojisec3{
    background-position: -118px -4px;
}
.qqemojisec4{
    background-position: -156px -4px;
}
.qqemojisec5{
    background-position: -194px -4px;
}
.qqemojisec6{
    background-position: -4px -42px;
}
.qqemojisec7{
    background-position: -42px -42px;
}
.qqemojisec8{
    background-position: -80px -42px;
}
.qqemojisec9{
    background-position: -118px -42px;
}
.qqemojisec10{
    background-position: -156px -42px;
}
.qqemojisec11{
    background-position: -194px -42px;
}
.qqemojisec12{
    background-position: -4px -80px;
}
.qqemojisec13{
    background-position: -42px -80px;
}
.qqemojisec14{
    background-position: -80px -80px;
}
.qqemojisec15{
    background-position: -118px -80px;
}
.qqemojisec16{
    background-position: -156px -80px;
}
.qqemojisec17{
    background-position: -194px -80px;
}
.qqemojisec18{
    background-position: -4px -118px;
}
.qqemojisec19{
    background-position: -42px -118px;
}
.qqemojisec20{
    background-position: -80px -118px;
}
.qqemojisec21{
    background-position: -118px -118px;
}
.qqemojisec22{
    background-position: -156px -118px;
}
.qqemojisec23{
    background-position: -194px -118px;
}
.qqemojisec24{
    background-position: -4px -156px;
}
.qqemojisec25{
    background-position: -42px -156px;
}
.qqemojisec26{
    background-position: -80px -156px;
}
.qqemojisec27{
    background-position: -118px -156px;
}