html, body{
	background: #ffffff;
}
.per-msg{
	height: 125px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
}
.con-wrap{
	padding: 19px 4% 0;
	position: relative;
	z-index: 1;
	background: #fff;
	height: 125px;
}
.from-user{
	height: 15px;
	line-height: 15px;
	font-size: 15px;
	color: #333;
}
.msg-fragment{
	font-size: 15px;
	color: #999;
	line-height: 22px;
	margin-top: 12px;
}
.receive-time{
	height: 34px;
	text-align: right;
	line-height: 34px;
	font-size: 15px;
	color: #999;
	display: block;
}
.delete-btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 77px;
	height: 100%;
	background: #ff3b30;
	font-size: 15px;
	color: #fff;
	z-index: 0;
}
#Hwrap {
  top: 0;
  bottom: 0;
  background: #fff;
}
#Hscroll {
  background: #fff;
}
/* 消息详情样式 */
.msgdet-time-wrap{
	text-align: center;
	height: 50px;
}
.msgdet-time{
	display: inline-block;
	height: 20px;
	font-size: 12px;
	padding: 0 5px;
	background: #cecece;
	color: #fff;
	text-align: center;
	line-height: 20px;
	margin-top: 15px;
}
.msgdet-per-msg{
	padding: 0 46px 0 4%;
	margin-bottom: 15px;
}
.msgdet-head-pic{
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 3px;
}
.msgdet-con{
	position: relative;
	width: 241px;
	border: 1px solid #d0d0d0;
	padding: 11px 16px;
	margin-left: 63px;
	font-size: 15px;
	color: #333;
	line-height: 22px;
	background: #fff;
}
.msgdet-con span{
	position: absolute;
	width: 7px;
	height: 12px;
	background: url(../imgs/transparent.png) no-repeat;
	background-size: 7px 12px;
	left: -7px;
	top: 15px;
}
@media all and (max-width: 320px){
	.msgdet-con{
		width: 201px;
		border: 1px solid #d0d0d0;
		padding: 11px 16px;
		margin-left: 63px;
		font-size: 15px;
		color: #333;
		line-height: 22px;
		background: #fff;
	}
}
.msgdet-body{
	background: #ebebeb;
}
/* 消息详情样式 结束 */