body, html{
	background: #e9e9e9;
}
.per-order{
	padding: 0 4% 6px;
	background: #fff;
	background: url(../imgs/order-bottom.png) repeat-x left bottom, #fff;
	background-size: 375px 6px;
	margin-bottom: 15px;
}
.order-head{
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	color: #ffad0f;
	border-bottom: 1px dotted #eeeeee;
}
.opation-footer{
	height: 47px;
	text-align: center;
	overflow: hidden;
	border-top: 1px dotted #eeeeee;
}
.opation-footer a{
	display: inline-block;
	height: 31px;
	width: 111px;
	line-height: 31px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-top: 8px;
}
.opation-footer a.do-service{
	background: #ffad0f;
}
.opation-footer a.cancel-order{
	background: #b0b0b0;
}
.opation-footer a.to-evaluation{
	background: #ffad0f;
}
.order-title{
	height: 41px;
	line-height: 41px;
	text-align: center;
	color: #ffad0f;
	font-size: 16px;
	border-bottom: 1px dotted #eeeeee;
}
.order-con{
	padding: 5px 0 8px;
}
.opa-wrap,.doctor-wrap{
	height: 32px;
	line-height: 32px;
}
.doctor-wrap{
	font-size: 16px;
	color: #333;
}
.opa-wrap h2{
	float: left;
	height: 32px;
	color: #999;
	font-size: 16px;
	width: 90px;
}
.opa-wrap p{
	margin-left: 90px;
	font-size: 16px;
	color: #333;
}
.pay-footer{
	height: 47px;
	border-top: 1px dotted #eeeeee;
}
.pay-footer h3{
	float: left;
	height: 47px;
	line-height: 47px;
	font-size: 16px;
	color: #999;
}
.pay-footer em{
	float: right;
	height: 47px;
	line-height: 47px;
	font-size: 16px;
	color: #ff3000;
}
#Hwrap {
  top: 15px;
  bottom: 15px;
}
.per-service{
	height: 32px;
	line-height: 32px;
}
.per-service h3{
	float: left;
	height: 32px;
	color: #333;
	font-size: 16px;
	text-indent: -8px;
}
.per-service em{
	float: right;
	height: 32px;
	color: #333;
	font-size: 16px;
}
.actual-pay{
	height: 39px;
	line-height: 39px;
	border-top: 1px solid #eeeeee;
}
.actual-pay h4{
	float: left;
	height: 39px;
	font-size: 16px;
	color: #999;
}
.actual-pay em{
	float: right;
	height: 39px;
	color: #ff3000;
	font-size: 16px;
}