.top-bg{
	height: 130px;
	background: url(../imgs/service_top_bg.jpg) no-repeat;
	background-size: 100% 130px;
	overflow: hidden;
}
.top-bg h2{
	font-size: 41px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin-top: 28px;
}
.top-bg p{
	font-size: 21px;
	color: #fff;
	text-align: center;
	margin-top: 18px;
}
.per-server{
	padding: 15px 4% 0;
	position: relative;
	border-bottom: 1px solid #cbcbcb;
}
.per-server a{
	display: block;
}
.con-wrap h3{
	color: #2c2c2c;
	font-size: 17px;
	font-weight: normal;
	line-height: 30px;
}
.con-wrap h3 em{
	font-size: 15px;
	color: #999999;
}
.con-wrap-2{
	position: relative;
}
.con-wrap p,.con-wrap-2 p{
	font-size: 17px;
	color: #ff4500;
	line-height: 30px;
}
.ys-intr{
	font-size: 14px;
	color: #999999;
	line-height: 20px;
}
.con-wrap-2 p{
	float: left;
	width: 65%;
	line-height: 45px;
	font-size: 16px;
}
.con-wrap-2 p em{
	color: #999999;
}
.server-list{
	background: #fff;
	margin-top: 13px;
}
.server-list mark.pat{
	display: block;
	background: none;
	clear: both;
	color: #999999;
	font-size: 13px;
}

.addimg-wrap{
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	height: 100%;
}
.addimg-wrap img{
	width: 30px;
	height: 30px;
	border: 2px solid #bdbdbd;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 50%;
	margin-top: -15px;
}
.btn-sec{
	right: -10px;
	top: 0;
	width: 35%;
	height: 45px;
	line-height: 64px;
	font-size: 17px;
	text-align: center;
	color: #2c2c2c;
	position: absolute;
}
.btn-sec section:first-of-type{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	bottom: 0;
}
.btn-sec section:last-of-type{
	position: absolute;
	height: 100%;
	width: 50%;
	right: 0;
	bottom: 0;
}
.remove{
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1px solid #999999;
	line-height: 26px;
	text-align: center;
	color: #999999;
	font-size: 35px;
	left: 10px;
	bottom: 6px;
}
.per-num{
	position: absolute;
	width: 10px;
	height: 10px;
	line-height: 10px;
	left: 50%;
	margin-left: -5px;
	bottom: 17px;
}
.add{
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1px solid #999999;
	line-height: 30px;
	text-align: center;
	color: #ff4500;
	font-size: 35px;
	right: 10px;
	bottom: 6px;
}

#sel-true, #sel-false{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #4b5057;
	font-size: 17px;
	color: #fff;
}
#sel-true{
	display: none;
}
#sel-false{
	text-align: center;
}
.cart{
	width: 60%;
	padding: 0 5%;
	float: left;
}
.button-wrap{
	float: left;
	width: 30%;
}
.button-wrap a{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 17px;
	text-align: center;
	background: #ff5a00;
}