html,body{
	height: 100%;
	background: #fff;
}
.wrap{
	width: 100%;
}
.content{
	height: 100%;
	width: 100%;
}
.tip{
	width: 108px;
	height: 108px;
	background: #ffad0f;
	border: 8px solid #ffde9f;
	margin: 0 auto;
}
.tip h2{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.tip h2:nth-of-type(1){
	margin-top: 20px;
}
.tip h2:nth-of-type(2){
	margin-top: 5px;
}
.tip-p{
	font-size: 16px;
	color: #333;
	text-align: center;
	height: 16px;
	line-height: 16px;
}
.tip-p:nth-of-type(1){
	margin-top: 22px;
}
.tip-p:nth-of-type(2){
	margin-top: 11px;
}
.return-list{
	display: block;
	width: 80%;
	margin: 53px auto 0;
	height: 38px;
	background: #ffad0f;
	color: #fff;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
}