html, body{
	background: #fff;
}
.header-top{
	height: 60px;
	border-bottom: 1px solid #cbcbcb;
	text-align: center;
}
.header-top h2{
	height: 28px;
	border: 1px solid #52c8ff;
	border-radius: 30px;
	display: inline-block;
	line-height: 28px;
	font-size: 15px;
	color: #52c8ff;
	padding: 0 37px;
	margin-top: 15px;
}
.per-ques{
	margin-bottom: 29px;
}
.ques-list{
	padding: 20px 4% 0;
}
.ques-title{
	height: 15px;
	font-size: 15px;
	color: #333;
	line-height: 15px;
}
.options-list{
	margin-top: 9px;
}
.per-opa{
	height: 37px;
	line-height: 37px;
	font-size: 15px;
	color: #333;
	position: relative;
	padding-left: 27px;
}
.per-opa span{
	position: absolute;
	width: 12px;
	height: 12px;
	background: #ededed;
	border: 3px solid #ededed;
	left: 0;
	top: 9px;
}
.per-opa span.active{
	background: #ffad0f;
}
.reg-btn{
	margin: 0 auto 30px;
}