.exit-wrap{
	margin-top: 15px;
	padding: 0 4%;
	background: #fff;
}
.exit-wrap li{
	height: 50px;
	border-bottom: 1px solid #e1e1e1;
	line-height: 50px;
}
.exit-wrap li:last-of-type{
	border: none;
}
.exit-wrap li h3{
	float: left;
	width: 26.0869%;
	height: 50px;
	font-size: 15px;
	color: #999999;
}
.exit-wrap li section,.exit-wrap li input{
	float: left;
	height: 50px;
	font-size: 15px;
	color: #333;
	position: relative;
	border: none;
	display: block;
	width: 73.9131%;
}
.se-img{
	position: absolute;
	width: 9px;
	height: 17px;
	top: 16px;
	right: 11px;
}
.se-img-rotate{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.certificate{
	padding: 0 4%;
	background: #fff;
	margin-top: 15px;
}
.per-cert{
	height: 57px;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}
.certificate h3{
	float: left;
	width: 48.5416%;
	height: 57px;
	font-size: 15px;
	color: #999;
	line-height: 57px;
}
.per-cert img{
	width: 42px;
	height: 42px;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: block;
	float: right;
	margin-right: 16.5217%;
	margin-top: 7px;
}
.remove-cert{
	position: absolute;
	width: 30px;
	height: 57px;
	right: 11px;
	top: 0;
	background: url(../imgs/cleartxt.png) no-repeat center center;
	background-size: 14px 14px;
}
.add-cert-wrap{
	height: 52px;
	background: #fff;
	overflow: hidden;
}
.add-cert-wrap a{
	display: block;
	height: 30px;
	width: 100px;
	border: 1px solid #ffad0f;
	margin: 10px auto;
	color: #ffad0f;
	line-height: 30px;
	font-size: 13px;
	text-align: center;
}
.reg-btn{
	margin: 28px auto;
}
.big-pic-wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.close-big-pic{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: #fff;
	line-height: 40px;
	color: #000;
	text-align: center;
	font-size: 30px;
	z-index: 10;
	font-weight: bold;
}
.time-win{
	width: 300px;
	background: #fff;
}
.time-title{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	color: #ffad0f;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.close-time{
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	right: 0;
	top: 0;
	color: #333;
}
.select-time-wrap{
	position: relative;
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	padding: 6px 0;
}
.select-time-wrap .my-div{
	display: inline-block;
	position: relative;
	width: 60px;
	height: 100px;
	color: #ffad0f;
	vertical-align: middle;
	margin: 0 10px;

}
.select-time-wrap .my-div:first-of-type{
	margin-left: 0;
}
.time-add{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 4px;
	background: url(../imgs/add.png) no-repeat center center;
	background-size: 10px 10px;
	border: 1px solid #b8b8b7;
	border-radius: 30%;
}
.time-jian{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: 4px;
	background: url(../imgs/jian.png) no-repeat center center;
	border: 1px solid #b8b8b7;
	border-radius: 30%;
	background-size: 10px 10px;
}
.time-foot{
	height: 50px;
	border-top: 1px solid #eee;
}
.okya-time{
	display: block;
	width: 20%;
	height: 30px;
	margin: 10px auto;
	background: #ffad0f;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
}
.hide-time-win{
	top: -100%;
}
.swiper-container {
    width: 60px;
    height: 100px;

}
.swiper-slide {
    text-align: center;
    font-size: 24px;
    background: #fff;
    box-shadow: 0 2px 2px #ccc inset, 0 -2px 2px #ccc inset;
}