/* hcy  */
@charset "utf-8";
/* reset */
html{
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;
	-webkit-touch-callout: none;	/* 禁止ios 长按时不触发系统的菜单，禁止ios&android长按时下载图片 */
	-webkit-user-select:none;	/* 禁止ios和android用户选中文字 */
	min-height: 100%;
}
body{min-height: 100%;}
body.ccc-body{
	background: #f1f1f1;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select,time{margin:0; padding:0; font-weight: normal;text-indent: 0;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
textarea{ resize:none; overflow:auto;}
body{font-size:12px;  font-family:Microsoft YaHei,SimHei,Arial,Pro LiHei Pro Medium;}
/* end reset */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
/* 强制换行 */
.toWrap{
	word-break: break-all;       /* 只对英文起作用，以字母作为换行依据。 */

	word-wrap: break-word;   	/* 只对英文起作用，以单词作为换行依据。*/

	white-space: pre-wrap;     /* 只对中文起作用，强制换行。*/
}
/* 禁止换行 */
.noWrap{
	white-space:nowrap;
}
/* 禁止换行,超出省略号 */
.noWrapEllipsis{
	 white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.boxSha{
	-webkit-box-shadow: 0 1px 2px #d3d3d3;
	-moz-box-shadow: 0 1px 2px #d3d3d3;
	-o-box-shadow: 0 1px 2px #d3d3d3;
	-ms-box-shadow: 0 1px 2px #d3d3d3;
	box-shadow: 0 1px 2px #d3d3d3;
}
.borR-3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.borR-50{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.boxSiz{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.pd-b-50{
	padding-bottom: 50px;
}
.alert-mark{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
}
.flex-center{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-box;
	display: box;

	-webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -o-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -o-box-align: center;
    box-align: center;
}
/* 注册页面 找回密码 公共样式 */
.reg-body{
	background: #f1f1f1;
}
.reg-top{
	height: 44px;
	box-shadow: 0 0 2px #d8d7d8;
	background: #fff;
	text-align: center;
	color: #ffad0f;
	font-size: 18px;
	line-height: 44px;
	position: relative;
}
.phone-call{
	width: 45px;
	height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../imgs/tel.png) no-repeat center center;
	background-size: 15px 18px;
}
.a-text{
	position: absolute;
	font-size: 13px;
	color: #ffad0f;
	line-height: 44px;
	right: 4%;
}
.back{
	position: absolute;
	width: 44px;
	height: 44px;
	left: 0;
	top: 0;
	background: url(../imgs/return.png) no-repeat 15px center;
	background-size: 9px 17px;
}
.reg-form-list{
	padding: 0 4%;
	margin-top: 16px;
	background: #fff;
}
.reg-per-input-wrap{
	border-bottom: 1px solid #efefef;
	height: 50px;
	line-height: 50px;
}
.reg-per-input-wrap:last-of-type{
	border: none;
}
.reg-per-input-wrap h4{
	float: left;
	font-weight: normal;
	font-size: 15px;
	color: #999999;
	width: 20%;
}
.addWidth h4{
	width: 30%;
}
.reg-per-input-wrap input{
	float: left;
	width: 80%;
	height: 50px;
	border: none;
	font-size: 15px;
}
.addWidth input{
	width: 70%;
}
@media all and (max-width: 320px){
	.reg-per-input-wrap h4{
		width: 22%
	}
	.reg-per-input-wrap input{
		width: 78%;
	}
	.addWidth h4{
		width: 32%;
	}
	.addWidth input{
		width: 68%;
	}
}
.reg-per-input-wrap input.reg-code{
	width: 40%;
}
.getCode{
	width: 30%;
	float: right;
	height: 32px;
	margin-top: 9px;
	background: #ffad0f;
	color: #fff;
	font-size: 13px;
	line-height: 32px;
	text-align: center;
}
.getCodeing{
	background: no-repeat;
	border: 1px solid #ffad0f;
	color: #ffad0f;
}
.reg-btn{
	display: block;
	height: 44px;
	background: #ffad0f;
	color: #fff;
	font-size: 17px;
	line-height: 44px;
	text-align: center;
	width: 92%;
	margin: 17px auto 0;
}
.tel-change-list{
	margin-top: 0;
}
.reg-tip{
	height: 49px;
	line-height: 49px;
	font-size: 13px;
	color: #999999;
	text-indent: 4%;
}
/* 注册页面 找回密码 公共样式 结束 */

/* 错误提示模态框 */
#Hmodel{
	position: fixed;
	height: 40px;
	line-height: 40px;
	background: rgba(0,0,0,0.8);
	padding: 0 17px;
	font-size: 14px;
	color: #fff;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;

	display: none;

	top: 50%;
	left: 50%;
	z-index: 100000;

}

.show {
	-webkit-animation: show .7s ease both;
	animation: show .7s ease both;
}
.hide {
	-webkit-animation: hide .7s ease both;
	animation: hide .7s ease both;
}
@-webkit-keyframes hide {
	from { }
	to { opacity: 0; }
}
@keyframes hide {
	from { }
	to { opacity: 0; }
}

@-webkit-keyframes show {
	from {  opacity: 0; }
	to {}
}
@keyframes show {
	from {  opacity: 0; }
	to {}
}
/* 错误提示模态框 结束 */

/* 底部导航 */
.footer-nav{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 48px;
	border-top: 1px solid #b5b5b5;
	width: 100%;
	background: #fff;
}
.footernav-list{
	height: 100%;
}
.footernav-list li{
	float: left;
	width: 33.333333%;
	height: 100%;
	position: relative;
}
.footernav-list li a{
	display: block;
	width: 100%;
	height: 100%;
}
.footernav-list li:nth-of-type(1):after, .footernav-list li:nth-of-type(2):after{
	content: "";
	display: block;
	position: absolute;
	height: 15px;
	width: 1px;
	background: #e1e1e1;
	right: 0;
	top: 17px;
}
.footernav-list li:nth-of-type(1) a{
	background: url(../imgs/footer-btn.png) no-repeat center 12px;
}
.footernav-list li:nth-of-type(1) a.active{
	background: url(../imgs/footer-btn.png) no-repeat center -36px;
}
.footernav-list li:nth-of-type(2) a{
	background: url(../imgs/footer-btn.png) no-repeat center -84px;
}
.footernav-list li:nth-of-type(2) a.active{
	background: url(../imgs/footer-btn.png) no-repeat center -131px;
}
.footernav-list li:nth-of-type(3) a{
	background: url(../imgs/footer-btn.png) no-repeat center -181px;
}
.footernav-list li:nth-of-type(3) a.active{
	background: url(../imgs/footer-btn.png) no-repeat center -229px;
}
/* 底部导航 结束 */

/* 点击加载更多 */
.load-more{ 
	height: 35px; 
	text-align: center; 
	color: #999999; 
	background: #fff; 
	line-height: 35px;  
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.load-more img{ 
	width: 23px; 
	height: 23px; 
	display: inline-block; 
	position: relative; 
	top: 6px; 
	display: none;
}
/* 点击加载更多 结束 */

/* 意见反馈的css很少，写在这里 */
.fb-textarea{
	display: block;
	width: 88%;
	margin: 15px auto 0;
	height: 200px;
	border: 1px solid #bdbdbd;
	padding: 2%;
}
.fd-body{
	background: #fff;
}
.fb-btn{
	margin-top: 23px;
}
/* 意见反馈的css 结束 */

/* 个人中心 个人信息中 长条按钮的公共样式 */
.strip-sec{
	margin-top: 16px;
	padding: 0 4%;
	background: #fff;
}
.per-stripbtn{
	height: 50px;
	border-bottom: 1px solid #e1e1e1;
	line-height: 50px;
	font-size: 15px;
	color: #333333;
	position: relative;
	/*background: url(../imgs/strip.png) no-repeat;*/
}
.per-stripbtn a{
	display: block;
	color: #333333;
}
.per-stripbtn em{
	position: absolute;
	font-style: 13px;
	color: #b0b0b0;
	right: 26px;
}
.per-stripbtn em.no{
	color: #b0b0b0
}
.per-stripbtn em.yes{
	color: #ffb72c
}
.per-stripbtn span{
	position: absolute;
	width: 9px;
	height: 17px;
	background: url(../imgs/strip.png) no-repeat;
	background-size: 9px 17px;
	right: 8px;
	top: 17px;
}
.per-stripbtn:last-of-type{
	border: none;
}
/* 个人中心 个人信息中 长条按钮的公共样式 结束 */

/* 服务条款页面 */
.terms-title{
	font-size: 15px;
	height: 15px;
	line-height: 15px;
	color: #333333;
	text-align: center;
	font-weight: bold;
	margin: 20px 0 16px 0;
}
.terms-text{
	display: block;
	width: 84%;
	padding: 4%;
	margin: 0 auto;
	border: 1px solid #bdbdbd;
	color: #333333;
	font-size: 15px;
	line-height: 24px;
	max-height: 367px;
	overflow: auto;
}
@media all and (max-width: 320px){
	.terms-text{
		max-height: 270px;
	}
}
@media all and (max-width: 320px) and (max-height: 480px){
	.terms-text{
		max-height: 180px;
	}
}
.radio-read{
	height: 55px;
	line-height: 55px;
	font-size: 15px;
	color: #333333;
	padding: 0 4%;
}
.radio-read span{
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid #383838;
	margin-top: 17px;
	margin-right: 7px;
}
.radio-read.active span{
	border: 1px solid #fff;
	background: url(../imgs/selection.png) no-repeat;
	background-size: 20px 20px;
}
.terms-btn{
	margin: 0 auto 21px;
}
/* 服务条款页面 结束 */

/* 上传图片的label公共样式 */
.label-input{
	display: block;
	padding: 0 4%;
	height: 60px;
	background: #fff;
	line-height: 60px;
	overflow: hidden;
	font-size: 15px;
	color: #999999;
	position: relative;
}
.label-input input{
	position: absolute;
	left: 1000px;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}
/* 上传图片的label公共样式 结束 */

/* Hselect样式 */
#Hwrap{
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: #d4d4d4;
	width: 100%;
}
#Hscroll{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #d4d4d4;
	min-height: 100%;
}
.Hs-header,.Hs-footer{
	height: 50px;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #999;
}
.Hs-header{
	top: -50px;
}
.Hs-footer{
	bottom: -50px;
}
.Hs-header em,.Hs-footer em{
	display: inline-block;
}
.pullDownIcon,.pullUpIcon{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 50px 100px;
	background-size: 50px 100px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	vertical-align: top;
}
.pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullDownIcon.flip  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}
.pullUpIcon.flip {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullDownIcon.loading, .pullUpIcon.loading {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
#H-wrap-box{
	padding: 20px 0;
	background: #e4e4e4;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
#H-box{
	background: #d4d4d4;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	height: 200px;
	overflow: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	perspective: 500;
	-webkit-perspective: 500; /* Safari 和 Chrome */
}
#H-list{
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
}
#H-list li{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 40px;
	text-align: center;
	line-height: 40px;		
	color: #000;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
	-moz-backface-visibility:hidden; 	/* Firefox */
	-ms-backface-visibility:hidden; 	/* Internet Explorer */

}
.H-box-mask{
	height: 80px;
	position: absolute;
	width: 100%;
	background: rgba(255,255,255,0.4);
	z-index: 2;
	
}
.H-top-mask{
	top: 0;
	left: 0;
	border-bottom: 1px solid #adadad;
}
.H-bottom-mask{
	left: 0;
	bottom: 0;
	border-top: 1px solid #adadad;
}
.H-center-mask{
	height: 38px;
	position: absolute;
	width: 100%;
	background: #e4e4e4;
	top: 81px;
	z-index: 0;
}
.H-head{
	position: absolute;
	top: -40px;
	height: 40px;
	width: 100%;
	background: #ffa800;
}
.H-head a{
	position: absolute;
	right: 1%;
	height: 30px;
	top: 5px;
	padding: 0 10px;
	line-height: 30px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	border-radius: 8px;
	background: #ffa800;
	font-size: 15px;
}
.H-head em{
	line-height: 40px;
	color: #fff;
	font-size: 15px;
	margin-left: 3%;
}
/* Hselect样式 结束 */
/* 上传图片弹层 */
.upload-mark{
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: block;
}
.option-wrap{
	position: absolute;
	width: 94%;
	left: 3%;
	bottom: 10px;
}
.opa-list{
	background: #fff;
	padding: 0 2%;
}
.opa-list li{
	height: 52px;
	border-bottom: 1px solid #efefef;
	font-size: 17px;
	line-height: 52px;
	text-align: center;
	color: #ffad0f;
}
.opa-list li:last-of-type{
	border: none;
}
.close-upload-win{
	display: block;
	height: 52px;
	line-height: 52px;
	text-align: center;
	color: #ffad0f;
	font-size: 17px;
	background: #fff;
	margin-top: 10px;
}
/* 上传图片弹层 结束 */