.body100{
	height: 100%;
}
.other-body{
	background: #efeff3;
}
.top{
	height: 22%;
	background: url(../imgs/top.jpg) no-repeat;
	background-size: 100% 100%;
}
.two-wrap{
	height: 78%;
	padding: 3px;
	box-sizing: border-box;
}
.ser-sec-wrap{
	padding: 3px;
	height: 62%;
	box-sizing: border-box;
}
.ser-1{
	height: 100%;
	background: url(../imgs/c.png) no-repeat 16px center, #ff9ab2;
	background-size: 90px 103px,0 0;
	padding-left: 122px;
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-box;
	display: box;

	-webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -o-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -o-box-align: center;
    box-align: center;
}
.ser-name-1{
	font-size: 26px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
}
.ser-price-1{
	font-size: 18px;
	height: 18px;
	color: #fff;
	line-height: 18px;
	margin-top: 15px;
	text-indent: -5px;
	margin-bottom: 12px;
}
.ser-intr-1{
	font-size: 13px;
	line-height: 30px;
	color: #fff
}
.ser-list{
	height: 38%;
	box-sizing: border-box;
	padding: 3px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-box;
	display: box;

	-webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -o-box-pack: justify;
    box-pack: justify;

}
.one-content{
	height: 161px;
}
.per-ser{
	width: 32%;
	height: 100%;
}
.per-ser a{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ser-content{
	width: 100%;
	height: 56px;
	padding-top: 40%;
}
.per-ser:nth-of-type(1){
	background: #31c6cc;
}
.per-ser:nth-of-type(2){
	background: #52c8ff;
}
.per-ser:nth-of-type(3){
	background: #f0aa64;
}
.ser-name{
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	letter-spacing: -2px;
}
@media all and (max-width: 320px){
	.ser-name{
		font-size: 15px;
		letter-spacing: -1px;
	}
    .ser-intr-1{
        font-size: 12px;
    }
    .ser-1{
		background: url(../imgs/c.png) no-repeat 6px center, #ff9ab2;
		background-size: 90px 103px,0 0;
		padding-left: 100px;
	}
}
.ser-price{
	font-size: 13px;
	height: 13px;
	line-height: 13px;
	text-align: center;
	margin-top: 25px;
	color: #fff;
}
/* 关于我们页面样式 */
.about-h1{
	height: 56px;
	line-height: 56px;
	color: #333;
	font-size: 19px;
	text-align: center;
	font-weight: bold;
}
.about-pic{
	height: 194px;
	background: url(../imgs/ad.jpg) no-repeat;
	background-size: 100% 100%;
}
.about-intr-wrap{
	padding: 26px 4%;
}
.about-intr{
	font-size: 14px;
	color: #333;
	line-height: 24px;
}
.about-title{
	font-size: 17px;
	font-weight: bold;
}
.about-end{
	text-align: right;
}
/* 关于我们页面样式 结束 */
/* 服务详情页面样式 */
.det-title{
	font-size: 21px;
	height: 21px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	margin-top: 18px;
}
.det-price{
	height: 19px;
	line-height: 19px;
	font-size: 19px;
	color: #ff3600;
	text-align: center;
	margin-top: 11px;
	margin-bottom: 16px;
}
.det-top-pic{
	display: block;
	width: 92%;
	margin: 0 auto;
	margin-bottom: 36px;
}
.det-p-wrap{
	padding: 0 4%;
}
.det-p-wrap p{
	font-size: 16px;
	color: #333;
	line-height: 23px;
	padding-left: 20px;
	text-align: justify;
	position: relative;
	margin-bottom: 30px;
}
.det-p-wrap p:last-of-type{
	margin-bottom: 0;
}
.det-p-wrap p:before{
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	background: #ff3600;
	border-radius: 50%;
	left: 3px;
	top: 7px;
}
.det-p-wrap p.no-point:before{
	background: #fff;
}
.det-btn{
	background: #ffad0f;
	color: #fff;
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-size: 16px;
	display: block;
	width: 92%;
	margin: 52px auto 20px;
}
/* 服务详情页面样式 结束 */
/* 优惠活动页面样式 */
.yh-top{
	height: 172px;
	background: url(../imgs/youhui.jpg) no-repeat;
	background-size: 100% 100%;
}
.yh-wrap{
	background: #fff;
	padding: 0 20px;
	overflow: hidden;
	padding-bottom: 10px;
}
.yh-title{
	font-size: 15px;
	font-weight: bold;
	color: #ffad0f;
	height: 17px;
	line-height: 17px;
	text-indent: 26px;
	background: url(../imgs/1.png) no-repeat 0 center;
	background-size: 17px 16px;
	margin-top: 25px;
	margin-bottom: 6px;
}
.yh-title:nth-of-type(2){
	background: url(../imgs/2.png) no-repeat 0 center;
	background-size: 17px 16px;
}
.yh-title:nth-of-type(3){
	background: url(../imgs/3.png) no-repeat 0 center;
	background-size: 17px 16px;
}
.yh-p{
	font-size: 15px;
	color: #999;
	line-height: 24px;
}
.yh-tel-txt{
	font-size: 23px;
	color: #ffad0f;
	font-weight: bold;
	text-align: center;
	margin-top: 47px;
	margin-bottom: 22px;
}
@media all and (max-width: 320px){
	.yh-tel-txt{
		margin-top: 27px;
		margin-bottom: 12px;
	}
}
.yh-btn{
	display: block;
	text-align: center;
	color: #fff;
	height: 43px;
	line-height: 43px;
	font-size: 21px;
	width: 275px;
	margin: 0 auto 20px;
	background: url(../imgs/btn-bg.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 60px;
}
/* 优惠活动页面样式 结束 */
/* 优秀人员页面样式 */
.peo-body{
	background: #e9e9ee;
}
.peo-list{
	padding: 0 4% 15px;
}
.per-peo{
	background: #fff;
	padding: 9px 15px 13px;
	margin-top: 15px;
}
.peo-head-pic{
	float: left;
	width: 87px;
	height: 87px;
}
.peo-content{
	margin-left: 87px;
	padding-left: 18px;
}
.peo-name{
	font-size: 16px;
	height: 15px;
	line-height: 15px;
	color: #333;
	padding-top: 5px;
}
.peo-name em{
	font-size: 14px;
	color: #999;
}
.peo-intr{
	font-size: 14px;
	color: #333;
	line-height: 13px;
	min-height: 13px;
	margin-top: 10px;
}
@media all and (max-width: 320px){
	.peo-intr-true{
		line-height: 15px;
	}
}
.peo-tel-s,.peo-id-s{
	font-size: 14px;
	color: #999;
	line-height: 13px;
	min-height: 13px;
	margin-top: 10px;
}
.peo-id-s{
	padding-left: 22px;
	background: url(../imgs/id.jpg) no-repeat;
	background-size: 18px 18px;
}
.peo-txt{
	font-size: 14px;
	color: #999;
	line-height: 23px;
	margin-top: 8px;
	clear: both;
}
@media all and (min-width: 375px){
	.peo-tel-s,.peo-id-s{
		float: left;
	}
	.peo-tel-s{
		margin-left: 11px;
	}
	.peo-txt{
		padding-top: 8px;
	}
}
/* 优秀人员页面样式 结束 */