/* CSS Document */
@charset "utf-8";
.viewer-header{position:relative;height:44px; background:#f0efef;border-bottom:1px solid #62af01;}
.viewer-header .title{color:#666;font-size:16px; font-weight:500;text-align:center;line-height:45px;}
.viewer-header .back{position:absolute;top:0;left:0;width:44px;height:44px;line-height:999em;overflow:hidden;}
.viewer-header .back .icon-back{position:absolute;top:50%;left:50%;width:16px;height:12px;
background:url(../image/back.png) no-repeat 0 0;background-size:16px auto;line-height:999em;margin:-6px 0 0 -10px;overflow:hidden;}
body.bg{ background:#50a946;}
.house-banner{ position:relative; border-bottom:5px solid #094; margin-bottom:13px; box-shadow:0 5px 8px #2e892f;}
.house-banner img{ display:block;}
.house-num{ position:absolute; z-index:2; left:10px; bottom:6px;}
.now-had{ height:28px; line-height:28px; overflow: hidden;}
.now-had span {float: left;}
.now-had .num-wraper{overflow: hidden; display:inline-block; height: 280px; width:15px; line-height:28px; text-align:center; color:#fff; background:#50a946; margin:0 2px;}
.now-had .num-wraper i {height: 28px; display: inline-block;}
.now-had .num-wraper.num-0,
.now-had .num-wraper.num-1,
.now-had .num-wraper.num-2,
.now-had .num-wraper.num-3,
.now-had .num-wraper.num-4,
.now-had .num-wraper.num-5,
.now-had .num-wraper.num-6,
.now-had .num-wraper.num-7,
.now-had .num-wraper.num-8,
.now-had .num-wraper.num-9 {
    -webkit-animation-duration: .8s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
        -moz-animation-duration: .8s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
        -o-animation-duration: .8s;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;
        -ms-animation-duration: .8s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
        animation-duration: .8s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.now-had .num-wraper.num-0 { -webkit-animation-name: scroll-to-0; -moz-animation-name: scroll-to-0; -o-animation-name: scroll-to-0; -ms-animation-name: scroll-to-0; animation-name: scroll-to-0; }
.now-had .num-wraper.num-1 { -webkit-animation-name: scroll-to-1; -moz-animation-name: scroll-to-1; -o-animation-name: scroll-to-1; -ms-animation-name: scroll-to-1; animation-name: scroll-to-1; }
.now-had .num-wraper.num-2 { -webkit-animation-name: scroll-to-2; -moz-animation-name: scroll-to-2; -o-animation-name: scroll-to-2; -ms-animation-name: scroll-to-2; animation-name: scroll-to-2; }
.now-had .num-wraper.num-3 { -webkit-animation-name: scroll-to-3; -moz-animation-name: scroll-to-3; -o-animation-name: scroll-to-3; -ms-animation-name: scroll-to-3; animation-name: scroll-to-3; }
.now-had .num-wraper.num-4 { -webkit-animation-name: scroll-to-4; -moz-animation-name: scroll-to-4; -o-animation-name: scroll-to-4; -ms-animation-name: scroll-to-4; animation-name: scroll-to-4; }
.now-had .num-wraper.num-5 { -webkit-animation-name: scroll-to-5; -moz-animation-name: scroll-to-5; -o-animation-name: scroll-to-5; -ms-animation-name: scroll-to-5; animation-name: scroll-to-5; }
.now-had .num-wraper.num-6 { -webkit-animation-name: scroll-to-6; -moz-animation-name: scroll-to-6; -o-animation-name: scroll-to-6; -ms-animation-name: scroll-to-6; animation-name: scroll-to-6; }
.now-had .num-wraper.num-7 { -webkit-animation-name: scroll-to-7; -moz-animation-name: scroll-to-7; -o-animation-name: scroll-to-7; -ms-animation-name: scroll-to-7; animation-name: scroll-to-7; }
.now-had .num-wraper.num-8 { -webkit-animation-name: scroll-to-8; -moz-animation-name: scroll-to-8; -o-animation-name: scroll-to-8; -ms-animation-name: scroll-to-8; animation-name: scroll-to-8; }
.now-had .num-wraper.num-9 { -webkit-animation-name: scroll-to-9; -moz-animation-name: scroll-to-9; -o-animation-name: scroll-to-9; -ms-animation-name: scroll-to-9; animation-name: scroll-to-9; }
@-webkit-keyframes scroll-to-0 {
0% { -webkit-transform: translateY(0%);}
100%{ -webkit-transform: translateY(-90%);}
}
@-moz-keyframes scroll-to-0 {
0% { -moz-transform: translateY(0%);}
100%{ -moz-transform: translateY(-90%);}
}
@-o-keyframes scroll-to-0 {
0% { -ms-transform: translateY(0%);}
100%{ -ms-transform: translateY(-90%);}
}
@-ms-keyframes scroll-to-0 {
0% { -ms-transform: translateY(0%);}
100%{ -ms-transform: translateY(-90%);}
}
@keyframes scroll-to-0 {
0% {transform: translateY(0%);}
100%{transform: translateY(-90%);}
}
@-webkit-keyframes scroll-to-1 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% { -webkit-transform: translateY(0%);}
}
@-moz-keyframes scroll-to-1 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% { -moz-transform: translateY(0%);}
}
@-o-keyframes scroll-to-1 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% { -o-transform: translateY(0%);}
}
@-ms-keyframes scroll-to-1 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% { -ms-transform: translateY(0%);}
}
@keyframes scroll-to-1 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(0%);}
}

@-webkit-keyframes scroll-to-2 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% {-webkit-transform: translateY(-10%);}
}
@-moz-keyframes scroll-to-2 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-10%);}
}
@-o-keyframes scroll-to-2 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% {-o-transform: translateY(-10%);}
}
@-ms-keyframes scroll-to-2 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-10%);}
}
@keyframes scroll-to-2 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-10%);}
}

@-webkit-keyframes scroll-to-3 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% {-webkit-transform: translateY(-20%);}
}
@-moz-keyframes scroll-to-3 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-20%);}
}
@-o-keyframes scroll-to-3 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% {-o-transform: translateY(-20%);}
}
@-ms-keyframes scroll-to-3 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-20%);}
}
@keyframes scroll-to-3 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-20%);}
}

@-webkit-keyframes scroll-to-4 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% {-webkit-transform: translateY(-30%);}
}
@-moz-keyframes scroll-to-4 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-30%);}
}
@-o-keyframes scroll-to-4 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% {-o-transform: translateY(-30%);}
}
@-ms-keyframes scroll-to-4 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-30%);}
}
@keyframes scroll-to-4 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-30%);}
}
@-webkit-keyframes scroll-to-5 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% {-webkit-transform: translateY(-40%);}
}
@-moz-keyframes scroll-to-5 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-40%);}
}
@-o-keyframes scroll-to-5 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% {-o-transform: translateY(-40%);}
}
@-ms-keyframes scroll-to-5 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-40%);}
}
@keyframes scroll-to-5 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-40%);}
}
@-webkit-keyframes scroll-to-6 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% {-webkit-transform: translateY(-50%);}
}
@-moz-keyframes scroll-to-6 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-50%);}
}
@-o-keyframes scroll-to-6 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% {-o-transform: translateY(-50%);}
}
@-ms-keyframes scroll-to-6 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-50%);}
}
@keyframes scroll-to-6 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-50%);}
}
@-moz-keyframes scroll-to-6 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-50%);}
}
@-o-keyframes scroll-to-6 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% {-o-transform: translateY(-50%);}
}
@-ms-keyframes scroll-to-6 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-50%);}
}
@keyframes scroll-to-6 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-50%);}
}

@-webkit-keyframes scroll-to-7 {
0% {-webkit-transform: translateY(0%);}
50% { -webkit-transform: translateY(-90%);}
100% {-webkit-transform: translateY(-60%);}
}
@-moz-keyframes scroll-to-7 {
0% {-moz-transform: translateY(0%);}
50% { -moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-60%);}
}
@-o-keyframes scroll-to-7 {
0% {-o-transform: translateY(0%);}
50% { -o-transform: translateY(-90%);}
100% {-o-transform: translateY(-60%);}
}
@-ms-keyframes scroll-to-7 {
0% {-ms-transform: translateY(0%);}
50% { -ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-60%);}
}
@keyframes scroll-to-7 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-60%);}
}
@-webkit-keyframes scroll-to-8 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% { -webkit-transform: translateY(-70%);}
}
@-moz-keyframes scroll-to-8 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% { -moz-transform: translateY(-70%);}
}
@-o-keyframes scroll-to-8 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% { -o-transform: translateY(-70%);}
}
@-ms-keyframes scroll-to-8 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% { -ms-transform: translateY(-70%);}
}
@keyframes scroll-to-8 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-70%);}
}

@-webkit-keyframes scroll-to-9 {
0% {-webkit-transform: translateY(0%);}
50% {-webkit-transform: translateY(-90%);}
100% {-webkit-transform: translateY(-80%);}
}
@-moz-keyframes scroll-to-9 {
0% {-moz-transform: translateY(0%);}
50% {-moz-transform: translateY(-90%);}
100% {-moz-transform: translateY(-80%);}
}
@-o-keyframes scroll-to-9 {
0% {-o-transform: translateY(0%);}
50% {-o-transform: translateY(-90%);}
100% {-o-transform: translateY(-80%);}
}
@-ms-keyframes scroll-to-9 {
0% {-ms-transform: translateY(0%);}
50% {-ms-transform: translateY(-90%);}
100% {-ms-transform: translateY(-80%);}
}
@keyframes scroll-to-9 {
0% {transform: translateY(0%);}
50% {transform: translateY(-90%);}
100% {transform: translateY(-80%);}
}
.saving{ margin-top:5px;}
.saving em{ color:#50a946; padding:0 5px;}
.host-box{ margin:0 10px;}
.house-con span{ color:#ff7800; padding-right:10px;}
.host-say{ background:#fc8004;height:28px; line-height:28px;color:#fff; text-indent:10px;}
.say-con{padding:5px 10px; line-height:28px;background:#fff;}
.host-name{ font-weight:bold; color:#636363;line-height:26px;}
.say-word{ line-height:26px; color:#636363; word-break:break-all;}
.house-con{ padding:5px 10px 0; border-top:1px solid #dcdcdc; background:#fff;}
.house-con > p{ padding-bottom:5px; color:#ff7800}
.dicuss-box{ margin:0 5px; overflow:hidden; margin-top:10px;}
.dicuss-box li{ width:50%; float:left;margin-bottom:10px;}
.dicuss-box li a{ display:block; background:#fff; margin:0 5px; padding:3px 5px 8px;}
.about-house{min-height:66px;overflow:hidden; border-top:1px solid #dcd9d9; padding-top:5px;position:relative;}
.dicuss-box p{ font-size:12px; line-height:22px; color:#999;}
.dicuss-box .fc-red{ color:#f54f03;}
.dicuss-box  a >p{ word-break:break-all;height:70px;color:#636363;overflow : hidden;text-overflow: ellipsis;white-space: normal;display: -webkit-box;-webkit-line-clamp:2; -webkit-box-orient: vertical;text-overflow: -o-ellipsis-lastline;}
.dicuss-box  a >p span{ color:#636363; font-weight:bold;}
.dicuss-box span{ display:block;font-size:12px;}
.about-house img{ display:block;width:100%;margin:5px 0 0 5px;}
.more-house{ background:#fff;}
.about-house .fl{ position:absolute; top:50%; margin-top:-30px; left:0;}
.about-house .fr{ width:54%;  overflow:hidden;}
.house-list-more{display: block;height: 42px;
line-height: 42px;text-align: center;color:#fff;background:#fc8004; border-radius:5px; margin:5px 10px 15px;}
.house-list-more i{-webkit-transform:rotate(-45deg); width:5px; height:5px;display: inline-block;border-right: solid 2px #fff;border-bottom: solid 2px #fff;margin-left:5px;vertical-align:1px;}
.quick-items li{ width:25%;}
.house-tit{position:relative; height:42px; line-height:42px; background:#2f9923; color:#92f387; font-size:14px; text-indent:20px;}
.house-condition span{ margin-right:3px;}
.house-tit::before{content:"";background:#7dde72; height:14px; width:3px; position:absolute; left:12px; top:15px;}
.calcu-list{background:#fff;}
.calcu-list ul{ margin:0 10px;}
.calcu-list li{ height:40px; line-height:40px; border-bottom:1px solid #e8e6e5; text-indent:5px;color:#272727; font-size:15px; position:relative;}
.calcu-list li:last-child{ border-bottom:none; height:41px;}
.calcu-list li::after{content:"";position: absolute;right: 5px;top: 50%;width: 10px;height: 10px;border-top: solid 1px #d8d8db;border-right: solid 1px #d8d8db;display: inline-block;-webkit-transform: rotate(45deg);margin-top: -5px;}
.calcu-list li a{ display:block; font-size:14px;width:100%; color:#272727; height:40px; line-height:40px}
footer{ background:#dadada; padding:15px 0; width:100%;}
footer p{ color:#6e6d6d; text-align:center; font-size:12px;}
footer a{ font-size:14px; color:#656565;}
.touch{ background-color:#}