.enve-top{
	height: 117px;
	background: #ff8900;
	position: relative;
	margin-top: 15px;
}
.enve-top h3{
	position: absolute;
	height: 15px;
	line-height: 15px;
	font-size: 15px;
	color: #fff;
	top: 24px;
	left: 15px;
}
.enve-top p{
	font-size: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	left: 13px;
	bottom: 24px;
}
.enve-top p em{
	font-size: 20px;
}
.enve-record{
	margin-top: 15px;
}
.per-record{
	height: 71px;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 4%;
	overflow: hidden;
	position: relative;
}
.per-record h3{
	font-size: 15px;
	color: #333;
	height: 15px;
	line-height: 15px;
	margin-top: 18px;
}
.per-record time{
	font-size: 13px;
	color: #999;
	height: 13px;
	line-height: 13px;
	margin-top: 9px;
	display: block;
}
.amount{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	color: #ff3000;
	font-size: 15px;
}