body, html{
	background: #e9e9e9;
}
.order-nav{
	height: 55px;
	overflow: hidden;
}
.order-nav ul{
	width: 92%;
	height: 28px;
	overflow: hidden;
	margin: 13px auto;
	border: 1px solid #ffad0f;
}
.order-nav li{
	float: left;
	width: 50%;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #ffad0f;
	font-size: 15px;
}
.order-nav li a{
	color: #ffad0f;
	display: block;
}
.order-nav li.active a{
	color: #fff;
	background: #ffad0f;
}
.window-hide{display: none;}
.per-order{
	padding: 0 4% 6px;
	background: #fff;
	background: url(../imgs/order-bottom.png) repeat-x left bottom, #fff;
	background-size: 375px 6px;
	margin-bottom: 15px;
}
.time-wrap{
	padding-top: 12px;
}
.content-wrap h3{
	float: left;
	width: 92px;
	line-height: 32px;
	font-size: 15px;
	color: #999999;
}
.intr-list{
	margin-left: 92px;
}
.intr-list li{
	line-height: 32px;
	font-size: 15px;
	color: #333;
}
.addr-link{
	color: #333;
}
.text-indent-8{
	text-indent: -8px;
}
.addr-icon{
	vertical-align: middle;
	width: 15px;
	height: 19px;
	margin-left: 11px;
}
.service-wrap{
	padding-bottom: 7px;
	border-bottom: 1px dotted #eeeeee;
}
.service-list{
	padding: 6px 0;
}
.per-service{
	height: 35px;
}
.service-title{
	float: left;
	height: 35px;
	line-height: 35px;
	color: #333;
	font-size: 15px;
}
.price{
	font-size: 15px;
	color: #ff3000;
	height: 35px;
	line-height: 35px;
}
.opation-footer{
	height: 47px;
	text-align: center;
	overflow: hidden;
	border-top: 1px dotted #eeeeee;
}
.opation-footer a{
	display: inline-block;
	height: 31px;
	width: 111px;
	line-height: 31px;
	font-size: 17px;
	color: #fff;
	text-align: center;
	margin-top: 8px;
}
.opation-footer a.do-service{
	background: #ffad0f;
}
.opation-footer a.cancel-order{
	background: #b0b0b0;
}
.order-title{
	height: 41px;
	line-height: 41px;
	text-align: center;
	color: #ffad0f;
	font-size: 15px;
	border-bottom: 1px dotted #eeeeee;
}
.pay-footer{
	height: 47px;
	border-top: 1px dotted #eeeeee;
}
.pay-footer h3{
	float: left;
	height: 47px;
	line-height: 47px;
	font-size: 15px;
	color: #999;
}
.pay-footer em{
	float: right;
	height: 47px;
	line-height: 47px;
	font-size: 15px;
	color: #ff3000;
}
#Hwrap {
  top: 119px;
  bottom: 50px;
}
/* 取消订单原因弹窗 */
.cancle-win{
	width: 87%;
	background: #fff;
}
.canwin-title{
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	line-height: 50px;
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}
.why-list{
	padding: 24px 4.9535% 0;
}
.per-why{
	font-size: 15px;
	color: #333;
	height: 20px;
	line-height: 20px;
	margin-bottom: 21px;
}
.per-why:last-of-type{
	margin-bottom: 11px;
}
.per-why span{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border: 1px solid #cfcfcf;
	position: relative;
	top: -2px;
	margin-right: 10px;
}
.per-why.active span{
	border: none;
	background: url(../imgs/selection.png) no-repeat;
	background-size: 21px 21px;
}
.why-text{
	width: 83%;
	display: block;
	margin: 0 auto;
	padding: 3%;
	height: 50px;
	border: 1px solid #adadad;
}
.why-tip{
	padding: 0 5%;
	height: 36px;
	line-height: 38px;
	color: #999999;
	font-size: 13px;
	text-indent: 18px;
	background: url(../imgs/audit.png) no-repeat 5% center;
	background-size: 15px 15px;
}
@media all and (max-width: 320px){
	.cancle-win{
		width: 90%;
	}
	.why-tip{
		padding: 0 2%;
		font-size: 12px;
		text-indent: 15px;
		background: url(../imgs/audit.png) no-repeat 2% center;
		background-size: 15px 15px;
	}
}
.why-foot{
	height: 47px;
	border-top: 1px solid #999999;
}
.why-foot a{
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	line-height: 47px;
	font-size: 15px;
	color: #ffad0f;
}
.why-foot a:first-of-type{
	border-right: 1px solid #999999;
}
.hide-win{
	display: none;
}
/* 取消订单原因弹窗 结束 */
/* 支付弹窗 */
.pay-win{
	width: 275px;
	background: #fff;
}
.pay-win h2{
	font-size: 15px;
	color: #333;
	line-height: 50px;
	height: 50px;
	text-align: center;
	font-weight: bold;
}
.pay-win li{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #333;
	font-size: 15px;
	border-top: 1px solid #e1e1e1;
}
.pay-win li.active{
	color: #ff8900;
}
.pay-win footer{
	height: 61px;
	border-top: 1px solid #e1e1e1;
	text-align: center;
}
.pay-win footer a{
	display: inline-block;
	width: 111px;
	height: 38px;
	margin-top: 11px;
	color: #fff;
	line-height: 38px;
	text-align: center;
	font-size: 15px;
}
.pay-win footer a:first-of-type{
	background: #ff8900;
	margin-right: 13px;
}
.pay-win footer a:last-of-type{
	background: #b0b0b0;
}
/* 支付弹窗 结束 */