html, body{
	background: #e9e9e9;
}
.msg-list{
	margin: 0 auto;
	padding: 0 3.7%;
	background: #fff;
}
.per-msg{
	padding: 15px 0;
	border-bottom: 1px solid #e1e1e1;
}
.per-msg a{
	display: block;
}
.per-msg:last-of-type{
	border: none;
}
.per-msg p{
	font-size: 15px;
	color: #333333;
	margin-bottom: 13px;
	line-height: 24px;
}
.per-msg time{
	font-size: 13px;
	color: #999999;	
}
.null-sec{
	margin-top: 97px;
}
.null-sun{
	width: 101px;
	height: 101px;
	display: block;
	margin: 0 auto 17px;
}
.null-sec p{
	font-size: 15px;
	color: #999999;
	text-align: center;
}