html, body{background: #e9e9e9;}
.content{
	width: 90%;
	margin: 19px auto 0;
}
.rob-order-det-wrap{
	background: #fff;
	display: block;
	padding: 12px 5.6431% 0;
}
.per-obj{
	min-height: 33px;
	line-height: 33px;
}
.per-obj h3{
	float: left;
	width: 28.7925%;
	color: #999;
	font-size: 15px;
}
.per-obj p{
	margin-left: 28.7925%;
	color: #333;
	font-size: 15px;
}
.text-indent-8{
	text-indent: -8px;
}
.addr-pic{
	vertical-align: middle;
	width: 14px;
	height: 18px;
	margin-left: 11px;
	position: relative;
	top: -2px;
}
.letter-span{
	letter-spacing: 5px;
}
.per-obj .red{
	color: #ff3000;
}
.per-obj:last-of-type{
	border-bottom: 1px dotted #eeeeee;
	padding-bottom: 8px;
}
#baidu-map-img{
	display: block;
	margin: 0 auto;
}
.remaining-time{
	margin: 0 auto;
	height: 44px;
	background: #3eb358;
	font-size: 17px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	position: relative;
}
.remaining-time:after{
	content: "";
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 14px solid transparent;
	border-top: 14px solid #3eb358;
	position: absolute;
	bottom: -28px;
	left: 50%;
	margin-left: -8px;
}
.reg-btn{
	width: 100%;
	margin: 28px auto 0;
}
.ser-list{
	padding: 7px 5%;
	background: #fff;
}
.per-ser{
	height: 35px;
	line-height: 35px;
}
.per-ser h3{
	float: left;
	height: 35px;
	color: #333;
	font-size: 15px;
}
.per-ser em{
	float: right;
	color: #ff3000;
	font-size: 15px;
}